
{% if index == 1 %}
  {% assign itemClass = 'tw-w-full' %} 
  {% assign itemClass2 = 'md:tw-flex-row tw-flex-col' %} 
  {% assign itemClass3 = 'md:tw-w-1/2 tw-h-full' %} 
  {% else %}
  {% assign itemClass = 'md:tw-w-1/2' %} 
  {% assign itemClass2 = 'tw-flex-col' %} 
  {% assign itemClass3 = 'tw-w-full tw-h-1/2' %} 
{% endif %}

<div class="{{ itemClass }} 2xl:tw-mb-9 tw-mb-6 2xl:tw-pr-9 md:tw-pr-4 tw-relative" data-aos="row-of-1">

  <a class="{{ itemClass2 }} tw-flex tw-h-full tw-items-center tw-overflow-hidden tw-border tw-border-stone-300 tw-rounded-xl tw-border-solid md:hover:tw-scale-95 hover:tw-bg-stone-100 hover:tw-shadow"
   href="{{ article.url }}">
    <div class='{{ itemClass3 }}'>
      {{ article.image | image_url: width: 1280 | image_tag: height: blkSt.bg_img_mb.height, class: 'tw-w-full tw-h-full tw-object-cover', lazyload: true }}
    </div>
    <div class='{{ itemClass3 }} 2xl:tw-px-14 xl:tw-px-6 tw-px-4 md:tw-py-6 tw-py-4'>
      {%- if set.blog_show_tags -%}
        <p class="md:tw-mb-6 tw-mb-4 tw-text-xl tw-font-semibold tw-text-vi">
          {{ blog.tags[0] }}
        </p>
      {%- endif -%}
      <p class="md:tw-mb-6 tw-mb-4 md:tw-text-[22px] tw-text-xl tw-font-semibold 2xl:tw-line-clamp-3 md:tw-line-clamp-2 tw-line-clamp-2 lg:line-clamp-none tw-leading-tight">{{ article.title }}</p>
      <p class="md:tw-mb-10 tw-mb-16 2xl:tw-line-clamp-3 md:tw-line-clamp-2 tw-line-clamp-3">
        {%- if article.excerpt.size > 0 -%}
          {{ article.excerpt }}
        {%- else -%}
          {{ article.content | strip_html | truncatewords: 15 }}
        {%- endif -%}
      </p>
      <p class="tw-text-x tw-text-vi tw-absolute xl:tw-bottom-6 tw-bottom-0">
        {%- if set.blog_show_date -%}
        {{ article.published_at | time_tag: format: 'month_day_year' }}
        {%- endif -%}
      </p>
    </div>
  </a>


</div>
