<div class="coll_top" style="background:url({{ section.settings.image | img_url:"master" }}) no-repeat center;height:540px;">
  <div class="page-width">
    <h1>{{ blog.title }}</h1>
  </div>
</div>
{%- paginate blog.articles by 21 -%}

<div data-section-id="{{ section.id }}" data-section-type="blog">
  <div class="page-width page-content">

    {%- render 'breadcrumbs' -%}

    <header class="section-header{% if section.settings.blog_show_tag_filter and blog.tags.size > 0 %}{% unless settings.type_headers_align_text %} section-header--with-link{% endunless %}{% endif %}">
      
      {%- if section.settings.blog_show_tag_filter and blog.tags.size > 0 -%}
        <select id="BlogTagFilter">
          <option value="/blogs/{{ blog.handle }}">All</option>
          {%- for tag in blog.all_tags -%}
            {% if tag contains "_" %}{%- assign tag_starts_with = tag | slice: 0 -%}{% if tag_starts_with == "_" %}{% if tag_count %}{%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}{% endif %}{% continue %}{% endif %}{% endif %}
            <option value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>{{ tag }}</option>
          {%- endfor -%}
        </select>
      {%- endif -%}
    </header>

    <div class="grid blog-list">

<div class="article-highlight-slider grid__item">
    <div class="swiper-container">
      <div class="swiper-wrapper">
      {%- for article in blog.articles limit:3 -%}
        {%- render 'article-item-highlight',
          blog: blog,
          article: article,
          grid_item_width: 'one-whole',
          per_row: '1',
          image_size: section.settings.blog_image_size
        -%}
      {%- endfor -%}
      </div>
         <div class="swiper-button-prev"><span class="fa fa-angle-left"></span></div>
   <div class="swiper-button-next"><span class="fa fa-angle-right"></span></div>
    </div>


</div>
  
 
  <script>
  var swiper = new Swiper(".article-highlight-slider .swiper-container", {
        slidesPerView: 1,
        autoplay: false,
        loop: true,
        navigation: {
            nextEl: '.article-highlight-slider .swiper-button-next',
            prevEl: '.article-highlight-slider .swiper-button-prev',
        }
      });
  
</script>
      {%- for article in blog.articles -%}
        {%- render 'article-grid-item', article: article, grid_item_width: 'medium-up--one-third', per_row: '3', image_size: section.settings.blog_image_size -%}
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}

  </div>
</div>

{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.blog-template.name",
  "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
    {
      "type": "checkbox",
      "id": "blog_show_tag_filter",
      "label": "t:sections.blog-template.settings.blog_show_tag_filter.label"
    },
    {
      "type": "checkbox",
      "id": "blog_show_rss",
      "label": "t:sections.blog-template.settings.blog_show_rss.label"
    },
    {
      "type": "checkbox",
      "id": "blog_show_tags",
      "label": "t:sections.blog-template.settings.blog_show_tags.label"
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "t:sections.blog-template.settings.blog_show_date.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_comments",
      "label": "t:sections.blog-template.settings.blog_show_comments.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "t:sections.blog-template.settings.blog_show_author.label"
    },
    {
      "type": "checkbox",
      "id": "blog_show_excerpt",
      "label": "t:sections.blog-template.settings.blog_show_excerpt.label"
    },
    {
      "type": "select",
      "id": "blog_image_size",
      "label": "t:sections.blog-template.settings.blog_image_size.label",
      "default": "wide",
      "options": [
        {
          "value": "natural",
          "label": "t:sections.blog-template.settings.blog_image_size.options.natural.label"
        },
        {
          "value": "square",
          "label": "t:sections.blog-template.settings.blog_image_size.options.square.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.blog-template.settings.blog_image_size.options.landscape.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.blog-template.settings.blog_image_size.options.portrait.label"
        },
        {
          "value": "wide",
          "label": "t:sections.blog-template.settings.blog_image_size.options.wide.label"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
