{%- assign secSt = section.settings -%}
{% assign class1 = "tw-flex tw-bg-[#efdec9] tw-py-3 tw-px-6 tw-rounded-full" %}
{% assign class2 = "tw-bg-white tw-border-white tw-p-1 tw-border-solid tw-border-2 tw-rounded-full tw-transition-all tw-duration-500" %}
{% assign class3 = "tw-cursor-pointer tw-rounded-full tw-w-6 tw-h-6 tw-shadow-inner tw-transition-all tw-duration-500" %}
{% assign class4 = "!tw-transition-all md:tw-w-2/5 tw-w-2/3 tw-mx-auto product-wrap tw-hidden" %}

<section section-name="color-slider-full" class="{% render 'section-interva-set' , secSt:secSt %} tw-relative" style="background: linear-gradient(to bottom, #ffffff 50%, {{secSt.bg_color}});">
  <div class="page-width tw-text-center tw-z-[3] tw-relative">
    <p class="tw-text-2xl md:tw-mb-6 tw-mb-2">{{secSt.sub_title}}</p>
    <h1 class="2xl:tw-text-6xl md:tw-text-5xl tw-text-4xl md:tw-mb-12 tw-mb-8">{{secSt.title}}</h1> 

    <div class="tw-flex tw-justify-center tw-mb-8">
      <div tag-name="color-list" class="tw-mr-3 {{class1}}">
        {% for block in section.blocks %}
          {% if block.settings.name == "1" %}
            <div class="md:tw-px-1 tw-px-2">
              <div tag-name="color-block" class="{{class2}}">
                <div class="{{class3}}" style="background-color:{{block.settings.color}}" ></div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div tag-name="color-list" class="tw-ml-3 {{class1}}">
        {% for block in section.blocks %}
          {% if block.settings.name == "2" %}
            <div class="md:tw-px-1 tw-px-2">
              <div tag-name="color-block" class="{{class2}}">
                <div class="{{class3}}" style="background-color:{{block.settings.color}}" ></div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="tw-mt-12 tw-relative tw-overflow-hidden">
      <div tag-name="product-list" class="md:tw--mt-2 tw-mt-8 md:-tw-translate-x-[10%] -tw-translate-x-[15%] tw-scale-90 md:tw-blur-[.8px] tw-blur-[.4px]" > 
        {% for block in section.blocks %}
        {% if block.settings.name == "1" %}
        {% assign media = block.settings.image %}
          <div class='{{class4}}'>
            {% include 'aspect-ratio-img', media: media ,class: 'tw-block'%}
          </div>
        {% endif %}
        {% endfor %}
      </div>
      <div tag-name="product-list" class="md:tw--mt-2 tw-mt-8 tw-absolute tw-top-0 md:tw-translate-x-[10%] tw-translate-x-[15%] tw-w-full"> 
        {% for block in section.blocks %}
        {% if block.settings.name == "2" %}
        {% assign media = block.settings.image %}
          <div class='{{class4}}'>
            {% include 'aspect-ratio-img', media: media ,class: 'tw-block'%}
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="tw-absolute tw-bottom-0 tw-w-full tw-bg-white md:tw-h-40 tw-h-20 tw-z-[2]"></div>
</section>  

<script>
  const productsImg = $('#shopify-section-{{section.id}} [tag-name="product-list"] img');
  const preloadImages = () => {
    productsImg.each(function() {
      const img = new Image();
      img.src = productsImg.attr("src");
    });
  };
  preloadImages();

  $("#shopify-section-{{section.id}} [tag-name='color-block']").on('click', function () {
    const targetI = $(this).parents('[tag-name="color-list"]').index();
    const productI = $(this).parent().index();
    const tarProduct = $($('#shopify-section-{{section.id}} [tag-name="product-list"]')[targetI]).children().eq(productI);

    $(this).addClass("!tw-border-black");
    $(this).parent().siblings().children().addClass("!tw-border-white");
    $(this).parent().siblings().children().removeClass("!tw-border-black");

    tarProduct.addClass("!tw-block");
    tarProduct.siblings().removeClass("!tw-block");
  });
  $($("#shopify-section-{{section.id}} [tag-name='color-list']")[0]).children(":first").find('[tag-name="color-block"]').click();
  $($("#shopify-section-{{section.id}} [tag-name='color-list']")[1]).children(":first").find('[tag-name="color-block"]').click();


</script>

{% schema %}
  {
    "name": "Combo color switch v1.1",
    "tag": "section",
    "settings": [	
      {
        "type": "header",
        "content": "Section interval set"
      },
      {
        "type": "select",
        "id": "top_padding",
        "label": "top interval",
        "default": "large",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "bottom_padding",
        "label": "bottom interval",
        "default": "default",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "header",
        "content": "Default set"
      },
 		  {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default":"Bring an Ideal Urban Life"			
      },
 		  {
        "type": "text",
        "id": "sub_title",
        "label": "Sub title",
        "default": "Made of aluminum alloy"			
      },
 		  {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#f5f5f5" 
      }
    ],
    "blocks":[
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "select",
            "id": "name",
            "label": "Product number",
            "options": [
              {
              "value": "1",
              "label": "1"
              },
              {
              "value": "2",
              "label": "2"
              }
            ],
            "default": "1"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Switch background color",
            "default": "#000000"			
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select product image"
          }
        ]
      }
    ],
    "presets": [
        {
          "name": "Combo color switch v1.1"
        }
      ]
  }
{% endschema %} 