{%- assign secSt = section.settings -%}

<section section-name="feature-grid" style="background-color:{{secSt.bg_color}}""
   class="{% render 'section-interva-set' , secSt:secSt %} page-width">
  <div class="tw-flex md:tw-flex-row tw-flex-col">
    <div class="md:tw-w-1/2 md:tw-py-6">
      <div class="tw-bg-vi tw-text-white tw-h-full xl:tw-p-12 md:tw-p-8 tw-p-6 tw-pt-10 xl:tw-pl-16 md:tw-pl-10 md:tw-rounded-l-2xl md:tw-rounded-tr-none tw-rounded-t-xl">
        <h1 class="xl:tw-text-6xl md:tw-text-5xl tw-text-3xl tw-mb-[10%]">{{ secSt.title }}</h1>
        <div class="tw-flex tw-flex-wrap">
          {% for block in section.blocks %}
            {%- assign blkSt = block.settings -%}
            {% if block.type == 'statistic' %}
              <div class="tw-w-1/2 [&:nth-child(-n+2)]:tw-mb-[5%]">
                <h2 class="xl:tw-text-6xl tw-text-4xl tw-mb-2">{{blkSt.text}}</h2>
                <p class="xl:tw-text-2xl md:tw-text-xl">{{blkSt.text_sub}}</p>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="md:tw-w-1/2 tw-bg-white tw-shadow-lg md:tw-rounded-none tw-rounded-b-2xl">
      <div class="tw-flex tw-flex-wrap tw-h-full right-wrap">
        {% for block in section.blocks %}
          {%- assign blkSt = block.settings -%}
          {% if block.type == 'icon' and blkSt.img != blank %}
            <div class="tw-w-1/2">
              <div class="tw-text-center tw-flex tw-items-center tw-flex-col tw-h-full tw-justify-center tw-border-solid tw-border-stone-200 tw-border-0 md:tw-p-0 tw-p-4">
                <div class="tw-w-20 tw-mx-auto tw-mb-2"> {% include 'aspect-ratio-img', media: blkSt.img ,class: 'tw-block'%} </div>
                <h3 class="tw-text-2xl tw-mb-1">{{blkSt.text}}</h3>
                <p class="tw-text-base">{{blkSt.text_sub}}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>


<style>

.right-wrap > div:first-child div{
  border-width: 0 1px 1px 0;
}

.right-wrap > div:last-child div{
  border-width: 1px 0 0 1px;
}
</style>

{% schema %}
  {
    "name": "Feature grid v1.1",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section interval set"
      },
      {
        "type": "select",
        "id": "top_padding",
        "label": "top interval",
        "default": "large",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "bottom_padding",
        "label": "bottom interval",
        "default": "default",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
       "type": "color",
       "id": "bg_color",
       "label": "Background color",
       "default":"#E8EBF0"
     },
     {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Long Range Ebike Expert"
     }
    ],
    "blocks": [
      {
        "type": "statistic",
        "name": "Statistic",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Main text",
            "default": "60 Mile"
          },
          {
            "type": "text",
            "id": "text_sub",
            "label": "Sub text",
            "default": "Maximum Mileage"
          }
        ]
      },
      {
        "type": "icon",
        "name": "icon content",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Main text",
            "default": "60 Mile"
          },
          {
            "type": "text",
            "id": "text_sub",
            "label": "Sub text",
            "default": "Maximum Mileage"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Feature grid v1.1"
      }
    ]
  }
{% endschema %} 