
{%- liquid
  assign se_stts = section.settings
  assign se_bks = section.blocks


  assign blks_pr_index = '' 
  for block in se_bks 
  if block.type == 'product' 
  assign blks_pr_index = blks_pr_index | append: forloop.index | append: '|' 
  endif 
  endfor 
  assign blks_pr_index = blks_pr_index | append: se_bks.size 
  assign blks_pr_index_arr = blks_pr_index | split: '|' 
%}


{%- render 'section-spacing-collapsing' -%}
<div {% render 'section-properties' %}>

  <section class="featured-product_2">
    <div class="md:tw-mb-8 tw-mb-12 md:tw-text-left tw-text-center">
      <h2 class="md:tw-text-5xl tw-text-3xl tw-font-bold">{{se_stts.title}}</h2>
    </div>
    <div class="tab-switch-wrapper">
      <div class="tabs-wrapper tw-flex md:tw-gap-4 tw-gap-2 md:tw-flex-nowrap tw-flex-wrap tw-justify-start tw-mb-4">
        {% for block in se_bks %}
          {% if block.type == 'product' %}
          <div tab-i="{{ forloop.index }}" class="tab tw-black-tab {% if forloop.first %}active{% endif %} tw-text-xl tw-px-6 tw-py-2 tw-rounded md:tw-w-48 tw-w-[calc(50%-.25rem)]">
          <span>{{ block.settings.tab_name }}</span>
          </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="contents-wrapper">
        {% assign prI = 0%}
        {% for block in se_bks %}
        {% liquid 
          assign bl_stts = block.settings
          assign bl_typ = block.type
          assign forI = forloop.index
        %}
        {% if bl_typ == 'product' %}
          {% liquid 
          assign pr = bl_stts.pr 
          assign prI = prI | plus: 1 
        %}

        <product-card handle="{{ pr.handle }}" {% unless forI == 1 %}style="display:none"{% endunless %}
          class="tw-flex md:tw-flex-nowrap tw-flex-wrap tw-items-end xl:tw-gap-24 md:tw-gap-8 tab-content md:tw-text-left tw-text-center" tab-i="{{ forloop.index }}">
          
          
          <div class="con-left tw-relative md:tw-w-[55%]">
            <div class="product-card__figure">
              <a href="{{ pr.url }}" data-instant>
                {%- capture sizes -%}
                  {%- if stacked -%}
                    (max-width: 699px) calc(100vw / {{ section.settings.products_per_row_mobile }} - 40px), (max-width: 1200px) calc(100vw / {{ 3 | at_most: section.settings.products_per_row_desktop }} - 64px), calc(min(100vw - 96px, {{ settings.page_width }}px) / {{ section.settings.products_per_row_desktop }} - (24px / {{ section.settings.products_per_row_desktop }} * {{ section.settings.products_per_row_desktop | minus: 1 }}))
                  {%- else -%}
                    (max-width: 699px) 74vw, (max-width: 999px) 38vw, calc(min(100vw - 96px, {{ settings.page_width }}px) / {{ section.settings.products_per_row_desktop }} - (24px / {{ section.settings.products_per_row_desktop }} * {{ section.settings.products_per_row_desktop | minus: 1 }}))
                  {%- endif -%}
                {%- endcapture -%}
      
                {%- capture main_image_classes -%}product-card__image product-card__image--primary {% if settings.product_image_aspect_ratio contains 'crop' %}object-fill-safe{% endif %} aspect-{{ settings.product_image_aspect_ratio | split: '_' | first }}{%- endcapture -%}
                {{- pr.featured_media | image_url: width: pr.featured_media.width | image_tag: loading: 'lazy', sizes: sizes, widths: '200,300,400,500,600,700,800,1000,1200,1400,1600,1800', class: main_image_classes -}}
      
                {%- if show_secondary_image and pr.media.size > 1 -%}
                  {%- assign next_media = pr.media[pr.featured_media.position] | default: pr.media[1] -%}
                  {{- next_media | image_url: width: next_media.width | image_tag: class: 'product-card__image product-card__image--secondary object-fill', loading: 'lazy', fetchpriority: 'low', sizes: sizes, widths: '200,300,400,500,600,700,800,1000,1200,1400,1600,1800' -}}
                {%- endif -%}
              </a>
            </div>
           

            {%- assign color_label_list = 'general.label.color' | t | replace: ', ', ',' | downcase | split: ',' -%}
            {%- for color_label in color_label_list -%}
            {%- if pr.options_by_name[color_label] != blank -%}
            {%- assign product_option = pr.options_by_name[color_label] -%}
            {%- capture name -%}swatch-{{ section.id }}-{{ pr.id }}-{{ product_option.position }}{%- endcapture -%}
            <div class="md:tw-absolute tw-left-4 tw-top-4 md:tw-my-0 tw-my-2">
              <fieldset class="product-card__swatch-list h-stack md:gap-1 tw-gap-2 md:tw-justify-start tw-justify-center" data-option-position="{{ product_option.position }}">
                  {%- for option_value in product_option.values limit: 4 -%}
                    {%- if forloop.first or pr.selected_or_first_available_variant.matched and option_value == product_option.selected_value -%}
                      {%- assign selected = true -%}
                    {%- else -%}
                      {% assign selected = false %}
                    {%- endif -%}
                    {%- render 'swatch' with 'color', value: option_value, name: name, selected: selected -%}
                  {%- endfor -%}

                  {% if product_option.values.size > 4 %}
                    <a href="{{ pr.url }}" data-instant class="color-swatch__view-more rounded-full text-xxs text-subdued">+{{ product_option.values.size | minus: 4 }}</a>
                  {% endif %}
              </fieldset>
            </div>  
            {% break %}
            {%- endif -%}
            {%- endfor -%}
          </div>


           <div class="con-right md:tw-w-auto tw-w-full">
            <div class="tw-flex tw-flex-col tw-h-full tw-justify-evenly">

              
              <div class="tw-order-2">
                <div slide-id="slide-{{ block.id }}" class="tw-flex tw-flex-col tw-items-center tw-my-4 md:tw-hidden tw-text-lg slide-btn ">
                  <p>Learn More</p>
                  <span>
                    {%- render 'icon' with 'chevron-bottom-doble', width: 20, height: 20 -%}
                  </span>
                </div>
                <div slide-id="slide-{{ block.id }}" class="slide-wrapper md:tw-block tw-hidden">
                  <div class="video-wrap">
                    <div class="tw-relative tw-rounded-md tw-overflow-hidden tw-cursor-pointer">
                      {%- if bl_stts.video -%}
                        <video-media autoplay>
                          {{- bl_stts.video | video_tag: playsinline: true, muted: true, loop: true, preload: 'metadata' -}}
                        </video-media>
                      {%- else -%}
                        <video-media class="tw-w-full" host="{{ bl_stts.video_url.type }}" autoplay>
                          <template>
                            {%- if bl_stts.video_url.type == 'youtube' -%}
                              <iframe src="https://www.youtube.com/embed/{{ bl_stts.video_url.id }}?playsinline=1&autoplay=1&controls=0&mute=1&loop=1&playlist={{ bl_stts.video_url.id }}&enablejsapi=1&rel=0&modestbranding=1&origin={{ 'https://' | append: request.host | url_encode }}" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>
                            {%- elsif bl_stts.video_url.type == 'vimeo' -%}
                              <iframe src="https://player.vimeo.com/video/{{ bl_stts.video_url.id }}?autoplay=1&autopause=1&background=1&loop=1&muted=1&transparent=0&responsive=1&portrait=0&title=0&byline=0&color={{ settings.text_color | remove_first: '#' }}" allow="autoplay; encrypted-media;" allowfullscreen="allowfullscreen"></iframe>
                            {%- endif -%}
                          </template>
                        </video-media>
                      {%- endif -%}
                    </div>
                  </div>
                  <div class="ebike-specs-wrap">
                    {%- assign specs = pr.metafields.custom.specifications.value -%}
                    <div class="tw-my-4 tw-gap-4 tw-grid tw-grid-cols-3">
                      {% for i in (0..5) %}
                        <div class="tw-flex tw-flex-col tw-items-center tw-text-center">

                          {% for img in specs.icon_list.value %}
                            {% assign i2 = forloop.index | minus: 1 %}
                            {% if i2 == i %}
                              <div>
                                {{- img | image_url: width: 55 | image_tag: loading: 'lazy', loading: 'lazy', widths: '80,120' -}} 
                              </div>
                            {% endif %}
                          {% endfor %}

                          <p class="md:tw-text-xl tw-font-semibold tw-tracking-tighter">{{specs.title_list.value[i]}} </p>
                          <p class="tw-text-stone-600 tw-text-base">{{specs.content_list.value[i]}} </p>
                        </div>
                        {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="md:tw-order-2 tw-order-1">
                <div class="tw-flex tw-gap-2 tw-my-4 tw-items-center md:tw-justify-start tw-justify-center">
                    <p class="tw-text-stone-400 tw-txt-diagonal md:tw-text-lg tw-text-xl">{{pr.compare_at_price | money}}</p>
                    <p class="tw-font-bold tw-text-2xl tw-text-red-600">{{pr.price | money}}</p>
                </div>
                <a href="{{ pr.url }}" class="button button--secondary tw-py-4 tw-leading-none tw-font-normal tw-min-w-48 tw-text-lg">{{ 'general.accessibility.read_more' | t }}</a>
                {% if bl_stts.btn_url != blank and bl_stts.btn_2_text != blank%}
                <a href="{{ bl_stts.btn_url }}" class="button button--outline tw-py-4 tw-leading-none tw-font-normal tw-min-w-48 tw-text-lg">{{bl_stts.btn_2_text}}</a>
                {% endif %}
              </div>

            </div>


          </div>



        </product-card>

        {% endif %}

        {% endfor%}

      </div>
    
    </div>
    
  </section>  

  
</div>

{% schema %}
{
"name": "Featured product",
"tag": "section",
"settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Section title",
    "default": "Explore Our Cool Models"
  },
  {
    "type": "text",
    "id": "btn_2",
    "label": "Second button text",
    "default": "Combo Sale"
  },
  {
    "type": "header",
    "content": "+General settings"
  },
  {
    "type": "checkbox",
    "id": "full_width",
    "label": "Full width",
    "default": true
  },
  {
    "type": "header",
    "content": "Colors",
    "info": "Gradient replaces solid colors when set."
  },
  {
    "type": "color",
    "id": "background",
    "label": "Background"
  },
  {
    "type": "color_background",
    "id": "background_gradient",
    "label": "Background gradient"
  }
],
"blocks": [
  {
    "type": "product",
    "name": "Product",
    "settings": [
      {
        "type": "text",
        "id": "tab_name",
        "label": "*Tab name",
        "default": "EB5 Roamer ST"
      },
      {
        "type": "text",
        "id": "btn_2_text",
        "label": "Second button text",
        "default": "Combo Sale"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "Second button url"
      },
      {
        "type": "product",
        "id": "pr",
        "label": "*Choose product",
        "info": "Will use product images, price, name, price, sale"
      },
      {
        "type": "textarea",
        "id": "pr_des",
        "label": "Product description",
        "default": "Its full suspension design uses Horst link pivot, providingendlesscomfort for off-road adventures."
      },
      {
        "type": "header",
        "content": "+ Video settings"
      },
      {
        "id": "video_url",
        "type": "video_url",
        "label": "A video from Youtube or Vimeo",
        "accept": [ "youtube", "vimeo" ],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
      },
      {
        "type": "video",
        "id": "video",
        "label": "A Shopify-hosted video",
        "info": "File video link from uploaded files. File size is smaller 4 mb recommended"
      }
    ]
  }
],
"presets": [
  {
    "name": "特色产品 v2"
  }
]
}
{% endschema %}
