{%- if section.blocks.size > 0 -%}
{%- liquid
  assign se_stts = section.settings
  assign se_bks = section.blocks
%}

{% if se_stts.circle_bg %}
<style>
  #shopify-section-{{ section.id }} {
    background: radial-gradient(circle at 50% 100vw, {{se_stts.circle_bg}}50 94vw, {{se_stts.circle_bg}} 100vw, transparent 100vw);
  }
  #shopify-section-{{ section.id }} .section {
    padding-block-start: var(--calculated-section-spacing-block-end);
  }
</style>
{% endif %}

  {%- render 'section-spacing-collapsing' -%}
  <div {% render 'section-properties' %}>
    <div class="icon-contact">

      <div class="tw-text-center md:tw-mb-20 tw-mb-12">
          <h2 class="md:tw-text-5xl tw-text-3xl tw-font-bold tw-relative ">{{se_stts.title}}</h2>
      </div>
      <div class="tw-flex tw-justify-between md:tw-mb-16 tw-mb-4 md:tw-flex-nowrap tw-flex-wrap">
      {% for block in section.blocks %}
      {% assign bk_stts = block.settings %}
      {% if block.type == "icon" and bk_stts.icon != blank %}
        <div class="md:tw-flex tw-gap-2 tw-items-center tw-text-center md:tw-text-left md:tw-w-auto tw-w-1/2 md:tw-px-0 tw-px-2 [&>img]:md:tw-w-16 [&>img]:tw-w-12 md:tw-mb-0 tw-mb-4">
          {{ bk_stts.icon | image_url: width: '100' | image_tag: width: '75',class: "tw-mx-auto"}} 
          <div>
            <h4 class="tw-font-bold">{{ bk_stts.title }}</h4>
            <p class="tw-text-base tw-leading-none">{{ bk_stts.content }}</p>
          </div>
        </div>
      {% endif %}
      {% endfor %}
      </div>
      
      {% for block in section.blocks %}
      {% assign bk_stts = block.settings %}
      {% if block.type == "contact" and bk_stts.main_img != blank %}
      <div class="tw-grid md:tw-gap-8 tw-gap-4 xl:tw-grid-cols-2 tw-py-8 md:tw-px-8 tw-px-4 tw-bg-white tw-shadow-[1px_-1px_5px_0px_#ebebeb] tw-rounded-2xl">
        <div class="tw-rounded-2xl tw-overflow-hidden">
        {{ bk_stts.main_img | image_url: width: '1000' | image_tag: width: '1000,750'}} 
        </div>
        <div class="tw-flex tw-flex-col tw-justify-evenly">
          <h4 class="md:tw-text-4xl tw-text-2xl">{{ bk_stts.title | newline_to_br }}</h4>
          <p class="md:tw-my-0 tw-my-4">{{ bk_stts.content }}</p>
          <div class="">
            {% assign btnClass = "tw-py-3 tw-leading-none tw-font-normal md:tw-min-w-48 md:tw-text-lg tw-text-base" %}
            {% if bk_stts.btn_1 and bk_stts.url_1 %}
            <a href="{{bk_stts.url_1}}" class="button button--secondary {{ btnClass }}">
              {{bk_stts.btn_1}}</a>
            {% endif %}
            {% if bk_stts.btn_2 and bk_stts.url_2 %}
              <a href="{{bk_stts.url_2}}" class="button button--outline tw-ml-4 {{ btnClass }}">
                {{bk_stts.btn_2}}</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}




    </div>
  </div>

{%- endif -%}








 {% schema %}
{
  "name": "Icon contact",
  "tag": "section",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Why JASION is The Way"
    },
    {
      "type": "header",
      "content": "+General settings"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "circle_bg",
      "label": "Circle Background"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    }
  ],
  "blocks": [
    {
      "type": "icon",
      "name": "Icon",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "14 Day Trial"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content",
          "default": "Don'tLove it?Send it back to us!"
        }
      ]
    },
    {
      "type": "contact",
      "name": "Contact",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "main_img",
          "label": "Main image"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Title",
          "default": "Got a Question? We are Here to Help"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content",
          "default": "We know that getting your next e-bike is not an easy decision.That is why ourexperienced customer support team are preparedto answer all your questions byemail, and help you pick yourperfect match."
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_1",
          "label": "Button text 1",
          "default": "Contact Support"
        },
        {
          "type": "url",
          "id": "url_1",
          "label": "Button url 1"
        },
        {
          "type": "text",
          "id": "btn_2",
          "label": "Button text 2",
          "default": "Contact Support"
        },
        {
          "type": "url",
          "id": "url_2",
          "label": "Button url 2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "店铺特色/联系我们 v2",
      "blocks": [
        { "type": "icon" },
        { "type": "icon" },
        { "type": "icon" },
        { "type": "icon" },
        { "type": "contact" }
      ]
    }
  ]
}
{% endschema %}