{%- assign secSt = section.settings -%}
<section section-name="image-video-grid" 
  style="background-color:{{secSt.bg_color}}; background-image:url('{{secSt.bg_img | img_url: "master" }}'); color:{{secSt.color}}"; 
  class="{% render 'section-interva-set' , secSt:secSt %} tw-bg-no-repeat tw-bg-cover">
  <div class="">
    <div class="page-width md:tw-mb-14 tw-mb-12">
      <h1 class="md:tw-text-5xl tw-text-4xl tw-mb-6">{{secSt.title}}</h1>
      <p class="tw-text-lg tw-mb-0 tw-opacity-90">{{secSt.content | newline_to_br}}</p>
    </div>

    <div>
      <div class="item-slider">
        <div class="flickity-div page-width md:tw-pr-0 tw-mb-8 ">
          <div class="md:tw-w-1/2 tw-w-full tw-h-full">
            

            {% if secSt.video contains "youtu" %}
              <div class="in_image tw-h-full tw-relative">
                <img class="!tw-rounded-none tw-object-contain tw-h-full" src="{{ secSt.image_video | img_url : 'master' }}" alt="">
                <div class="play_icon">
                  <a class="tw-block tw-mx-auto" href="{{ secSt.video }}">
                    <div class="icon_play">
                      <i class="fa fa-play"></i>
                    </div>
                  </a>
                </div>
              </div> 
              {% else %}

              <div class="tw-relative tw-h-full">
                <div class="product-video-trigger tw-static tw-transform-none product-video-trigger--mp4 tw-w-full tw-h-full">
                  <video class="tw-object-cover tw-w-full tw-h-full tw-block" loop="" autoplay="" muted="" preload="metadata" playsinline="">
                    <source src="{{ secSt.video }}" type="video/mp4">
                  </video>
                </div>
                <video
                  playsinline
                  controls
                  controlsList="nodownload"
                  poster="{{ media.preview_image | img_url: product_image_size }}"
                  class="hide product-video-mp4-sound">
                  <source src="{{ secSt.video }}" type="{{ source.mime_type }}">
                  Your browser does not support the video tag.
                </video>
              </div>
            {% endif %}
            

          </div>
          <div class="md:tw-w-4/5 md:tw-block tw-hidden"> {% include 'aspect-ratio-img', media: secSt.img ,class: 'tw-block'%} </div>
          {% if secSt.img_mb %}
            <div class="tw-block md:tw-hidden"> {% include 'aspect-ratio-img', media: secSt.img_mb ,class: 'tw-block'%} </div>
          {% endif %}
        </div>

        <div class="tw-items-center tw-justify-end page-width md:tw-flex tw-hidden">
          <span class="slider-prev tw-cursor-pointer">
            <svg t="1689736660004" class="icon tw-w-12 tw-h-12" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2512" width="32" height="32"><path d="M213.333333 507.733333h725.333334v42.666667H204.8l145.066667 145.066667-29.866667 29.866666L128 533.333333 320 341.333333l29.866667 29.866667L213.333333 507.733333z" fill="#444444" p-id="2513"></path></svg>
          </span>
          <span class="tw-text-2xl tw-mx-4">Explore</span>
          <span class="slider-next tw-cursor-pointer">
            <svg t="1689736648452" class="icon tw-w-12 tw-h-12" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2273" width="32" height="32"><path d="M853.333333 507.733333H128v42.666667h733.866667l-145.066667 145.066667 29.866667 29.866666 192-192L746.666667 341.333333l-29.866667 29.866667 136.533333 136.533333z" fill="#444444" p-id="2274"></path></svg>
          </span>
        </div>
      </div>
    </div>

  </div>
</section>

<script>
  if($(window).width() > 767){
    setTimeout(()=>{
        let flkty = new Flickity( '#shopify-section-{{section.id}} .flickity-div', {
            pageDots: false,
            prevNextButtons: false,
            imagesLoaded: true,
            freeScroll: true,
            contain: true
        });
        var $next = $('#shopify-section-{{section.id}} .slider-next');
        var $prev = $('#shopify-section-{{section.id}} .slider-prev');
        $next.on('click', function() { flkty.next(); });
        $prev.on('click', function() { flkty.previous(); });
    }, 300);
  }
</script>


{% schema %}
  {
    "name": "Image video grid v1.1",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section interval set"
      },
      {
        "type": "select",
        "id": "top_padding",
        "label": "top interval",
        "default": "large",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "bottom_padding",
        "label": "bottom interval",
        "default": "default",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
       "type": "color",
       "id": "bg_color",
       "label": "Background color",
       "default":"#E8EBF0"
      },
        {
        "type": "image_picker",
        "id": "bg_img",
        "label": "Background image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Shop E-bikes"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content",
        "default": "We provide the best quality products at the best possible price because we are a direct-to-customer business. So, no matter what your age or what your job is, no matter who you are or where you come from, we strive to offer cost-efficient electric bikes for you."
      },
      {
        "type": "color",
        "id": "color",
        "label": "Text color",
        "default": "#ffffff"
      },
      {
        "type": "url",
        "id": "video",
        "label": "Video"
      },
      {
        "type": "image_picker",
        "id": "image_video",
        "label": "Video image "
      },
      {
        "type": "image_picker",
        "id": "img",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "img_mb",
        "label": "Image mobile"
      }
    ],
    "presets": [
      {
        "name": "Image video grid v1.1"
      }
    ] 
  }
{% endschema %} 