{%- assign secSt = section.settings -%}
{% assign rightSty = false %}
{% if secSt.fixed_style == "style2" %}
  {% assign rightSty = true %}
{% endif %}
{%- case secSt.title_size -%}
  {%- when "small" -%}
    {%- assign titleSize = 'tw-text-4xl' -%}
  {%- when "default" -%}
    {%- assign titleSize = 'tw-text-5xl' -%}
  {%- else -%}
    {%- assign titleSize = 'tw-text-6xl' -%}
{%- endcase -%}
{%- case secSt.content_size -%}
  {%- when "small" -%}
    {%- assign contentSize = 'tw-text-lg' -%}
  {%- when "default" -%}
    {%- assign contentSize = 'tw-text-[22px]' -%}
  {%- else -%}
    {%- assign contentSize = 'tw-text-2xl' -%}
{%- endcase -%}
{%- case secSt.wap_pad -%}
  {%- when "none" -%}
    {%- assign wapPad = '' -%}
  {%- when "small" -%}
    {%- assign wapPad = 'xl:tw-top-10 md:tw-top-16' -%}
  {%- when "default" -%}
    {%- assign wapPad = 'xl:tw-top-20 md:tw-top-16' -%}
  {%- when "large" -%}
    {%- assign wapPad = 'xl:tw-top-24 md:tw-top-20' -%}
  {%- else -%}
    {%- assign wapPad = 'tw-top-1/2 -tw-translate-y-1/2' -%}
{%- endcase -%}


{% if secSt.bg_img != blank %}
  <section section-name="image-list-text" class="{% render 'section-interva-set' , secSt:secSt %}" style="background-color:{{secSt.bg_color}};" >
    <div class="tw-relative">
      {% if secSt.title != blank %}
        <div class="tw-text-center tw-z-10 {{wapPad}}
          {% if rightSty %}md:tw-w-2/5 md:tw-right-0 md:tw-pr-[10%] md:tw-p-0 md:tw-text-left {% else %} tw-w-full{% endif %} 
          {% if secSt.title_fixed %}tw-absolute{% endif %}"> 
          <div class="tw-mx-auto page-width
            {% if rightSty %}tw-p-0{% endif %}">
            <h1 style="color:{{secSt.title_color}};" 
              class="{{titleSize}} tw-mb-8">{{secSt.title | newline_to_br}}</h1>
            <p style="color:{{secSt.content_color}};" class="{{contentSize}} {% if rightSty %}tw-leading-snug{% endif %}">
              {{secSt.content | newline_to_br}}
            </p>
          </div>

          {% if secSt.img_btm != blank %}
            <div class="tw-mt-12">
              {% include 'aspect-ratio-img', media: secSt.img_btm ,class: ''%}
            </div>
          {% endif %}
        </div>
      {% endif %}
      <div class="tw-relative {% unless secSt.full_width %}page-width{% endunless %}">
        <div class="md:tw-block {% if secSt.bg_img_mb %}tw-hidden{% endif %}">
          {% include 'aspect-ratio-img', media: secSt.bg_img ,class: 'tw-h-full'%}
        </div>
        {% if secSt.bg_img_mb %}
          <div class="md:tw-hidden tw-block">
            {% include 'aspect-ratio-img', media: secSt.bg_img_mb ,class: 'tw-h-full'%}
          </div>
        {% endif %}
        {% if secSt.cross_img_url != blank %}
          <img class="tw-absolute tw-bottom-6 tw-left-1/2 -tw-translate-x-1/2 md:tw-max-w-[55%] tw-max-w-full tw-h-auto" src="{{ secSt.cross_img_url | img_url:"master" }}">
        {% endif %}
      </div>
    </div>
  </section>  
{% endif %}


{% schema %}
  {
    "name": "Single image text v1.1",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section interval set"
      },
      {
        "type": "select",
        "id": "top_padding",
        "label": "top interval",
        "default": "large",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "bottom_padding",
        "label": "bottom interval",
        "default": "default",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Is full width?",
        "default": true
      },
 		  {
        "type": "color",
        "id": "bg_color",
        "label": "Background color"
      },
 		  {
        "type": "image_picker",
        "id": "bg_img",
        "label": "Background image"
      },
 		  {
        "type": "image_picker",
        "id": "bg_img_mb",
        "label": "Background image (mobile)"
      },
      {
        "type": "image_picker",
        "id": "cross_img_url",
        "label": "Cross image"
      },
      {
        "type": "header",
        "content": "Title setting"
      },
      {
        "type": "checkbox",
        "id": "title_fixed",
        "label": "Title containers is fixed?",
        "default": true
      },
      {
        "type": "select",
        "id": "fixed_style",
        "label": "Fixed style(Title containers must fixed)",
        "options": [
          {
          "value": "style1",
          "label": "Default"
          },
          {
          "value": "style2",
          "label": "Right"
          }
        ],
        "default": "style1"
      },
      {
        "type": "image_picker",
        "id": "img_btm",
        "label": "Underneath the content image",
        "info": "Content must fixed, style must Right"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "850W of PEAK POWER"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Title color",
        "default": "#333333"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content",
        "default": "The 500W steady motor has a maximum power output of up to 850W at full power! Use 100% manual pedaling or 5 levels of Pedal Assist to experience the smoothest, most exciting, and effortless riding."
      },
      {
        "type": "color",
        "id": "content_color",
        "label": "Content color",
        "default": "#333333"
      },
      {
        "type": "select",
        "id": "title_size",
        "label": "Title font size",
        "options": [
          {
          "value": "small",
          "label": "Small"
          },
          {
          "value": "default",
          "label": "Default"
          },
          {
          "value": "large",
          "label": "Large"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "content_size",
        "label": "Content font size",
        "options": [
          {
          "value": "small",
          "label": "Small"
          },
          {
          "value": "default",
          "label": "Default"
          },
          {
          "value": "large",
          "label": "Large"
          }
        ],
        "default": "default"
      },
      {
        "type": "select",
        "id": "wap_pad",
        "label": "Content wrapper position",
        "options": [
          {
          "value": "none",
          "label": "None"
          },
          {
          "value": "small",
          "label": "Small"
          },
          {
          "value": "default",
          "label": "Default"
          },
          {
          "value": "large",
          "label": "Large"
          },
          {
          "value": "center",
          "label": "Center"
          }
        ],
        "default": "default"
      }
    ],
    "presets": [
        {
          "name": "Single image text v1.1"
        }
      ]
  }
{% endschema %} 