{%- assign secSt = section.settings -%}

{% if secSt.img != blank or secSt.bg_img != blank %}
  <section section-name="image-list-text" 
    class="{% render 'section-interva-set' , secSt:secSt %} page-width {% if secSt.bg_img != blank %}tw-bg-no-repeat tw-bg-cover{% endif %}"
    {% if secSt.bg_img != blank %}
      style="background-image:url('{{secSt.bg_img | img_url:"master"}}')"
    {% endif %}
   >
    <div class="tw-px-2 tw-mx-auto md:tw-flex tw-items-center " style="background-color:{{secSt.bg_color}};">

      <div class='img-wrap md:tw-w-1/2 tw-flex tw-justify-center tw-items-center 
        {% if secSt.layout == "textImage" %}tw-order-3{%else%}tw-order-1{% endif %}' >

        {% if secSt.img != blank %}
          <div>
          {{ secSt.img | image_url: width: 1000 | image_tag: width: nil, loading: 'lazy', class:'tw-block' }}
          </div>
        {% endif %}

      </div>
      <div class="content-wrap md:tw-w-1/2 tw-order-2 tw-flex tw-flex-col md:tw-p-4">
        <div class="{{ secSt.title_align }}"> 
          {%- assign titleSize = section.settings.title_size -%}
          {%- assign textSize = section.settings.text_size -%}
          <h1 class="" style="font-size:{{titleSize}}%">{{ secSt.text_main  }}</h1>
          <p class="md:tw-mb-6 xl:tw-mb-12 tw-mb-4" style="font-size:{{textSize}}%">{{ secSt.text_sub }}</p>
        </div>

        <div class="list-wrap tw-flex tw-flex-wrap ">
          {%- assign titleSize = section.settings.i_title_size -%}
          {%- assign textSize = section.settings.i_text_size -%}
          {% for block in section.blocks %}
          {%- assign length = forloop.length -%}
          {%- assign blkSt = block.settings -%}
          {% if length == 2 or length == 4 %}
            {%- assign wClass = 'tw-w-1/2' -%}
            {% else %}
            {%- assign wClass = 'md:tw-w-1/3 tw-w-1/2' -%}
          {% endif %}
              <div class="{{wClass}} tw-mb-6 xl:tw-text-base md:tw-text-sm {{ secSt.text_align }}">
                {% if blkSt.icon != blank %}
                {{ blkSt.icon | image_url: width: 300 | image_tag: width: nil, loading: 'lazy', class: 'xl:tw-max-h-12 md:tw-max-h-[5vw] tw-max-h-10 tw-inline-block' }}
                {% endif %}
                <p class="tw-m-0 tw-mt-2 tw-font-semibold tw-leading-tight" 
                  style="font-size:{{titleSize}}%">{{blkSt.item_title}}</p>
                <p class="tw-m-0 tw-text-base" style="font-size:{{textSize}}%">{{blkSt.item_dec}}</p>
              </div>
          {% endfor %}
            {% if secSt.btm_img != blank %}
            <div tag-name="bottom-image" class="tw-mt-6" style="width:{{secSt.btm_img_w}}%">
              {{ secSt.btm_img | image_url: width: 800 | image_tag: width: nil, loading: 'lazy' }}
            </div>
            {% endif %}


        </div>
      </div>
    </div>
  </section>  
{% endif %}



{% schema %}
  {
    "name": "Image list text v1.2",
    "tag": "section",
    "settings": [
 		  {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default":"#E8EBF0"
      },
      {
        "type": "image_picker",
        "id": "bg_img",
        "label": "Background image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout style",
        "default": "textImage",
        "options": [
          {
            "value": "textImage",
            "label": "Image on the right"
          },
          {
            "value": "imageText",
            "label": "Image on the Left"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Item text align",
        "default": "",
        "options": [
          {
            "value": "",
            "label": "Left"
          },
          {
            "value": "tw-text-center",
            "label": "Center"
          }
        ]
      },
      {
        "type": "select",
        "id": "title_align",
        "label": "Title text align",
        "default": "",
        "options": [
          {
            "value": "",
            "label": "Left"
          },
          {
            "value": "tw-text-center",
            "label": "Center"
          }
        ]
      },
 		  {
        "type": "image_picker",
        "id": "img",
        "label": "Main image"
      },
 		  {
        "type": "html",
        "id": "text_main",
        "label": "Title",
        "default":"Dual 48V 15Ah Lithium Batteries"
      },
 		  {
        "type": "html",
        "id": "text_sub",
        "label": "Sub title",
        "default":"If range anxiety is of concern to you, Rhino will get you covered with its 1440wh battery capacity. Battery density has increased 21% from 18,650 to 21,700 cells, allowing you to ride up to 100 miles for a single charge. And worried about long charging times? It takes only 5 hours to get fully charged with 2 chargers."
      },
      {
        "type": "image_picker",
        "id": "btm_img",
        "label": "Bottom image"
      },
      {
        "type": "range",
        "id": "btm_img_w",
        "min": 50,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Bottom image width",
        "default": 100
      },
      {
        "type": "header",
        "content": "Items setting"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 50,
        "max": 250,
        "step": 10,
        "unit": "%",
        "label": "Main title font size",
        "default": 140
      },
      {
        "type": "range",
        "id": "text_size",
        "min": 50,
        "max": 250,
        "unit": "%",
        "step": 10,
        "label": "Main content font size",
        "default": 100
      },
      {
        "type": "range",
        "id": "i_title_size",
        "min": 50,
        "max": 250,
        "step": 10,
        "unit": "%",
        "label": "Items title font size",
        "default": 140
      },
      {
        "type": "range",
        "id": "i_text_size",
        "min": 50,
        "max": 250,
        "unit": "%",
        "step": 10,
        "label": "Items content font size",
        "default": 100
      },
      {
      "type": "header",
      "content": "Section interval set"
      },
      {
        "type": "select",
        "id": "top_padding",
        "label": "Top padding (PC)",
        "default": "md", 
        "options": [
          {
            "value": "xl",
            "label": "Extra large"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "bottom_padding",
        "label": "Bottom padding (PC)",
        "default": "md",
        "options": [
          {
            "value": "xl",
            "label": "Extra large"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "top_margin",
        "label": "Top margin (PC)",
        "default": "md",
        "options": [
          {
            "value": "xl",
            "label": "Extra large"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "bottom_margin",
        "label": "Bottom margin (PC)",
        "default": "md",
        "options": [
          {
            "value": "xl",
            "label": "Extra large"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "top_padding_mb",
        "label": "Top padding (Mobile)",
        "default": "md", 
        "options": [
          {
            "value": "xl",
            "label": "Extra large"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "bottom_padding_mb",
        "label": "Bottom padding (Mobile)",
        "default": "md",
        "options": [
          {
            "value": "xl",
            "label": "Extra large"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "top_margin_mb",
        "label": "Top margin (Mobile)",
        "default": "md",
        "options": [
          {
            "value": "xl",
            "label": "Extra large"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "bottom_margin_mb",
        "label": "Bottom margin (Mobile)",
        "default": "md",
        "options": [
          {
            "value": "xl",
            "label": "Extra large"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "List item",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Item icon"
          },
          {
            "type": "text",
            "id": "item_title",
            "label": "Item title",
            "default":"Density Increased"
          },
          {
            "type": "text",
            "id": "item_dec",
            "label": "Item content",
            "default":"21%"
          }
        ]
      }
    ],
    "presets": [
        {
          "name": "Image list text v1.2"
        }
      ]
  }
{% endschema %} 