{% liquid
 assign secSt = section.settings 
 case secSt.display_size 
   when "all" 
   assign displayClass = "" 
   when "pc" 
   assign displayClass = "md:tw-block tw-hidden" 
   when "mobile" 
   assign displayClass = "tw-block md:tw-hidden" 
   else 
 endcase 
 assign wapClass = "md:tw-mb-0 tw-mb-6 md:tw-px-0 tw-px-4" 
 assign imgClass = "" 
 assign imgClass2 = "" 
 assign sizeClass = "tw-h-16 tw-mx-auto tw-mb-2" 
 assign conClass = "[&>b]:xl:tw-text-3xl [&>b]:tw-text-2xl [&>span]:tw-text-stone-500 tw-text-center tw-flex tw-flex-col" 
 assign meta = product.metafields.custom 
%}

<div section-name="list-grid" class="page-width {% render 'section-interva-set' , secSt:secSt %} {{displayClass}}">
  <div class="tw-flex tw-flex-wrap tw-justify-between">
    {% if meta.spec_icon_one != blank and meta.battery_capacity != blank %}
      <div class="{{wapClass}}">
        <div class="{{imgClass}}"><img class="{{sizeClass}}" src="{{ meta.spec_icon_one | img_url:"master" }}"></div>
        <div class="{{conClass}}"> {{ meta.battery_capacity }} </div>
      </div>
    {% endif %}

    {% if meta.spec_icon_four != blank and meta.per_charge != blank %}
      <div class="">
        <div class="{{wapClass}}">
          <div class="{{imgClass}}"><img class="{{sizeClass}}" src="{{ meta.spec_icon_four | img_url:"master" }}"></div>
          <div class="{{conClass}}"> {{ meta.per_charge }} </div>
        </div>
      </div>
    {% endif %}

    {% if meta.spec_icon_six != blank and meta.motor_capacity != blank %}
      <div class="">
        <div class="{{wapClass}}">
          <div class="{{imgClass}}"><img class="{{sizeClass}}" src="{{ meta.spec_icon_six | img_url:"master" }}"></div>
          <div class="{{conClass}}"> {{ meta.motor_capacity }} </div>
        </div>
      </div>
    {% endif %}

    {% if meta.spec_icon_three != blank and meta.fully_charge != blank %}
      <div class="">
        <div class="{{wapClass}}">
          <div class="{{imgClass}}"><img class="{{sizeClass}}" src="{{ meta.spec_icon_three | img_url:"master" }}"></div>
          <div class="{{conClass}}"> {{ meta.fully_charge }} </div>
        </div>
      </div>
    {% endif %}

    {% if meta.spec_icon_two != blank and meta.pedal_assist != blank %}
      <div class="">
        <div class="{{wapClass}}">
          <div class="{{imgClass2}}"><img class="{{sizeClass}}" src="{{ meta.spec_icon_two | img_url:"master" }}"></div>
          <div class="{{conClass}}"> {{ meta.pedal_assist }} </div>
        </div>
      </div>
    {% endif %}

    {% if meta.spec_icon_seven != blank and meta.tires != blank %}
      <div class="">
        <div class="{{wapClass}}">
          <div class="{{imgClass2}}"><img class="{{sizeClass}}" src="{{ meta.spec_icon_seven | img_url:"master" }}"></div>
          <div class="{{conClass}}"> {{ meta.tires }} </div>
        </div>
      </div>
    {% endif %}

    {% if meta.spec_icon_five != blank and meta.max_load != blank %}
      <div class="">
        <div class="{{wapClass}}">
          <div class="{{imgClass2}}"><img class="{{sizeClass}}" src="{{ meta.spec_icon_five | img_url:"master" }}"></div>
          <div class="{{conClass}}"> {{ meta.max_load }} </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>


{% schema %}
{
  "name": "List grid v1.1",
  "class":"waterfall-section",
  "settings": [
    {
      "type": "header",
      "content": "Section interval set"
    },
    {
      "type": "select",
      "id": "top_padding",
      "label": "top interval",
      "default": "large",
      "options": [
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "none",
          "label": "None"
        }
      ]
    },
    {
      "type": "select",
      "id": "bottom_padding",
      "label": "bottom interval",
      "default": "default",
      "options": [
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "none",
          "label": "None"
        }
      ]
    },
    {
      "type": "select",
      "id": "display_size",
      "label": "What screen will it be display?",
      "options": [
        {
        "value": "all",
        "label": "PC and Mobile"
        },
        {
        "value": "mobile",
        "label": "Mobile"
        },
        {
        "value": "pc",
        "label": "PC"
        }
      ],
      "default": "all"
    }
  ],
  "presets": [
    {
      "name": "List grid v1.1"
    }
  ]
}
{% endschema %}
