<div class="page-width">
  {%- if section.settings.title != blank -%}
    <div class="section-header text-{{ section.settings.align_text }}">
      <h2>{{ section.settings.title }}</h2>
    </div>
  {%- endif -%}
  <div class="media_items">
    <div class="mi_text">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
          <div class="swiper-slide">
            <div class="mi_detail text-{{ section.settings.align_text }}">
              <div class="mi_image">
                <img src="{{ block.settings.image | img_url : 'master' }}" alt="">
              </div>
              <div class="mi_info">
                {{ block.settings.text }}
              </div>
            </div>
          </div>
          {%- endfor -%}
        </div>
      </div>
      <div class="swiper-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="19.029" height="36.03" viewBox="0 0 19.029 36.03">
  <path  d="M140.016,5576.162l.116-.118-.147-.149,17.619-17.911,1.41,1.432-16.33,16.6,16.3,16.569-1.405,1.428Z" transform="translate(-139.986 -5557.984)" fill="#1f2529" opacity="0.502"/>
</svg>
      </div>
      <div class="swiper-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="19.092" height="35.561" viewBox="0 0 19.092 35.561">
  <path  d="M1760.985,5592.6l16.351-16.353-16.382-16.384,1.414-1.415,17.678,17.678-.148.148.116.116-17.619,17.619Z" transform="translate(-1760.955 -5558.453)" fill="#1f2529"/>
</svg>
      </div>
        <div class="swiper-pagination"></div>
    </div>
    
  </div>
</div>

<script>
  var swiper = new Swiper(".mi_text .swiper-container", {
        slidesPerView: 1,
        autoplay: false,
        navigation: {
            nextEl: '.mi_text .swiper-button-next',
            prevEl: '.mi_text .swiper-button-prev',
        },
    pagination: {
      el: '.mi_text .swiper-pagination',
      clickable :true
    }
      });
  
</script>
{% schema %}
  {
    "name": "Media",
    "class": "media_list",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_image",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Media",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
