<div id="">
  <div class="page-width">
    <div class="tab_cpanel text-{{ section.settings.align_text }}">
      <h2>{{ section.settings.title }}</h2>
      <div class="tab_content">
        <picture> 
            <source media="(max-width: 768px)" srcset="{{ section.settings.mb_image | img_url:"master" }}"> 
            <source media="(min-width: 769px)" srcset="{{ section.settings.image | img_url:"master" }}"> 
            <img src="{{ section.settings.image | img_url:"master" }}" alt=""> 
        </picture>
        <ul>
          {%- for block in section.blocks -%}
          <li>
            {{ block.settings.title }}
          </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Box",
    "class": "box_bg",
    "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "mb_image",
            "label": "Mobile Image"
          },
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Testimonials"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "colum",
        "name": "Colums",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Example title"
          }
        ]
      }
    ]
  }
{% endschema %}