<div class="page-width">
  <div id="overview" class="spec_info">
    <div class="spec_content">
      <h2>{{ section.settings.title }}</h2>
      {{ section.settings.text }}
      <a href="{{ section.settings.link }}">Watch Video</a>
      <div class="hc_spec">
        <div class="hcs_item">
          <div class="hcs_img">
            <img src="{{ product.metafields.custom.spec_icon_one | img_url:"master" }}">
          </div>
          <div class="hcs_text">
            <div class="hcs_info">
              {{ product.metafields.custom.battery_capacity }}
            </div>
          </div>
        </div>
        <div class="hcs_item">
          <div class="hcs_img">
            <img src="{{ product.metafields.custom.spec_icon_two | img_url:"master" }}">
          </div>
          <div class="hcs_text">
            <div class="hcs_info">
              {{ product.metafields.custom.pedal_assist }}
            </div>
          </div>
        </div>
        <div class="hcs_item">
          <div class="hcs_img">
            <img src="{{ product.metafields.custom.spec_icon_three | img_url:"master" }}">
          </div>
          <div class="hcs_text">
            <div class="hcs_info">
              {{ product.metafields.custom.fully_charge }}
            </div>
          </div>
        </div>
        <div class="hcs_item">
          <div class="hcs_img">
            <img src="{{ product.metafields.custom.spec_icon_four | img_url:"master" }}">
          </div>
          <div class="hcs_text">
            <div class="hcs_info">
              {{ product.metafields.custom.per_charge }}
            </div>
          </div>
        </div>
        <div class="hcs_item">
          <div class="hcs_img">
            <img src="{{ product.metafields.custom.spec_icon_five | img_url:"master" }}">
          </div>
          <div class="hcs_text">
            <div class="hcs_info">
              {{ product.metafields.custom.max_load }}
            </div>
          </div>
        </div>
        <div class="hcs_item">
          <div class="hcs_img">
            <img src="{{ product.metafields.custom.spec_icon_six | img_url:"master" }}">
          </div>
          <div class="hcs_text">
            <div class="hcs_info">
              {{ product.metafields.custom.motor_capacity }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="spec_slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
          <div class="swiper-slide">
            <img src="{{ block.settings.image | img_url:"master" }}">
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="swiper-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="19.029" height="36.03" viewBox="0 0 19.029 36.03">
  <path d="M140.016,5576.162l.116-.118-.147-.149,17.619-17.911,1.41,1.432-16.33,16.6,16.3,16.569-1.405,1.428Z" transform="translate(-139.986 -5557.984)" fill="#1f2529" opacity="0.502"/>
</svg>
      </div>
    <div class="swiper-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="19.092" height="35.561" viewBox="0 0 19.092 35.561">
  <path d="M1760.985,5592.6l16.351-16.353-16.382-16.384,1.414-1.415,17.678,17.678-.148.148.116.116-17.619,17.619Z" transform="translate(-1760.955 -5558.453)" fill="#1f2529"/>
</svg>
    
      </div>
<script src="{{ 'swiper.min.js' | asset_url }}"></script>
<script>
  var swiper = new Swiper(".spec_slider .swiper-container", {
        slidesPerView: 1,
        autoplay: false,
        navigation: {
            nextEl: '.spec_slider .swiper-button-next',
            prevEl: '.spec_slider .swiper-button-prev',
        }
      });
  
</script>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image slider",
    "class": "spec-list",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
