<div id="specifications">
  <div class="page-width">
    <div class="tab_cpanel text-{{ section.settings.align_text }}">
      <h2>{{ section.settings.title }}</h2>
      <div class="tab_content">
        <ul>
          {%- for block in section.blocks -%}
          <li>
            <div class="spec_info">
              <span>{{ block.settings.title }}</span>
              <h3>{{ block.settings.text }}</h3>
              <p>{{ block.settings.dis }}</p>
            </div>
          </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Spec",
    "class": "spec_bg",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Testimonials"
      }
    ],
   "presets": [
    {
      "name": "Product Specification"
    }
  ],
    "blocks": [
      {
        "type": "colum",
        "name": "Colums",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "dis",
            "label": "discription"
          }
        ]
      }
    ]
  }
{% endschema %}