<div class="page-width">
  {%- if section.settings.title != blank -%}
      <div class="section-header text-{{ section.settings.align_text }}">
        <h2>{{ section.settings.title }}</h2>
        {{ section.settings.text }}
      </div>
  {%- endif -%}
  <div class="pr-list">
    <div class="pr_item">
      <div class="pr_text_left">
        {%- for block in section.blocks -%}
        <div class="pr_info {% if forloop.index == 1 %}active{% endif %}">
          <h3>{{ block.settings.title }}</h3>
         {{ block.settings.text }}
        </div>
        {%- endfor -%}
      </div>
      <div class="pr_text_right">
        {%- for block in section.blocks -%}
          <div class="pr_img">
          <img src="{{ block.settings.image | img_url:"master" }}">
        </div>
        {%- endfor -%}
          </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Ridings",
    "class": "pr_bg",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Content"
      }
    ],
    "blocks": [
      {
        "type": "riding",
        "name": "Ridings",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Add customer reviews and review to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "Product highlights"
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  } 
  }
{% endschema %}
