<div class="page-width">
  {%- if section.settings.title != blank -%}
      <div class="section-header text-{{ section.settings.align_text }}">
        <h2>{{ section.settings.title }}</h2>
        {{ section.settings.text }}
      </div>
  {%- endif -%}
  <div class="pm-list">
    <div class="pm_item">
      <div class="pm_image">
        <img src="{{ section.settings.image | img_url:"master" }}">
      </div>
      <div class="pm_text">
        {%- for block in section.blocks -%}
        <div class="pm_info">
          <h3>{{ block.settings.title }}</h3>
          <span>{{ block.settings.text }}</span>
        </div>
        {%- endfor -%}
      </div>
    </div>
    <div class="pm_item">
      <div class="pm_image">
        <img src="{{ section.settings.image_two | img_url:"master" }}">
      </div>
      <div class="pm_text">
        <div class="pm_info">
          <h2>{{ section.settings.title_two }}</h2>
          {{ section.settings.text_two }}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Modes",
    "class": "pab_wrapper pad_two",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
      {
        "type": "text",
        "id": "title_two",
        "label": "Heading two"
      },
          {
            "type": "richtext",
            "id": "text_two",
            "label": "Text two"
          },
          {
            "type": "image_picker",
            "id": "image_two",
            "label": "Image two"
          }
    ],
    "blocks": [
      {
        "type": "colum",
        "name": "Colums",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}