<div class="page-width">
  {%- if section.settings.title != blank -%}
      <div class="section-header text-{{ section.settings.align_text }}">
        <h2>{{ section.settings.title | newline_to_br }}</h2>
    {% if section.settings.title != blank %}
        <div class="link_more">
          <a href="{{ section.settings.title }}">
            <span>
              <svg 
               xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               width="10px" height="7px">
              <path fill-rule="evenodd"  fill="rgb(251, 248, 244)"
               d="M-0.003,4.198 L7.343,4.198 L4.564,6.998 L6.529,6.998 L10.002,3.500 L6.529,0.000 L4.564,0.000 L7.343,2.800 L-0.003,2.800 L-0.003,4.198 Z"/>
              </svg>
            </span> Read What our Riders Said
          </a>
        </div>
       {% endif %}
      </div>
  {%- endif -%}
  <div class="review-list">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
        <div class="swiper-slide">
          
          <div class="rl_item">
            <div class="rl_img">
              {%- if block.settings.image != blank -%}
              <img class="lazyload" src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}">
              {%- else -%}
               {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
            </div>
            <div class="rl_text">
              {% if block.settings.title != blank %}
              <h3>{{ block.settings.title }}</h3>
                {% endif %}
              <p><span><img class="ico_quote" src="https://cdn.shopify.com/s/files/1/0729/0660/4818/files/ico-quote.png?v=1680232982" ></span>{{ block.settings.review }}</p>
          <div class="author">{{ block.settings.author }}</div>
          </div>
          </div>
        </div>
        {%- endfor -%}
      </div>
    </div>
    <div class="nav-bottom">
      <div class="swiper-button-prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="19.029" height="36.03" viewBox="0 0 19.029 36.03">
  <path  d="M140.016,5576.162l.116-.118-.147-.149,17.619-17.911,1.41,1.432-16.33,16.6,16.3,16.569-1.405,1.428Z" transform="translate(-139.986 -5557.984)" fill="#1f2529" opacity="0.502"/>
</svg>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next">
        <svg xmlns="http://www.w3.org/2000/svg" width="19.092" height="35.561" viewBox="0 0 19.092 35.561">
  <path  d="M1760.985,5592.6l16.351-16.353-16.382-16.384,1.414-1.415,17.678,17.678-.148.148.116.116-17.619,17.619Z" transform="translate(-1760.955 -5558.453)" fill="#1f2529"/>
</svg>
    
      </div>
      <div class="swiper-paginations"></div>
    <div class="swiper-scrollbar"></div>
    </div>
  </div>
</div>

<script>
  var swiper = new Swiper(".review-list .swiper-container", {
        slidesPerView: 1,
        autoplay: 3000,
        navigation: {
            nextEl: '.review-list .swiper-button-next',
            prevEl: '.review-list .swiper-button-prev',
        },
    pagination: {
      el: '.review-list .swiper-pagination',
      type: 'fraction'
    },
    scrollbar: {
          el: ".review-list .swiper-scrollbar",
          draggable: true,
        },
    breakpoints: { 
      320: {   
        autoHeight: true,
      },
      1024: {   
        autoHeight: false,
      }
    }
      });
  
</script>
{% schema %}
  {
    "name": "Reviews",
    "class": "review_bg",
    "max_blocks": 9,
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Testimonials"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      }
    ],
    "blocks": [
      {
        "type": "review",
        "name": "Review",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "textarea",
            "id": "review",
            "label": "Text",
            "default": "<p>Add customer reviews and review to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Reviews",
        "blocks": [
          {
            "type": "review"
          },
          {
            "type": "review"
          },
          {
            "type": "review"
          }
        ]
      }
    ]
  }
{% endschema %}
