{%- assign secSt = section.settings -%}
<section section-name="reviews-accordion" style="background-color:{{secSt.bg_color}}"
  class="{% render 'section-interva-set' , secSt:secSt %}">
  <div class="tw-flex page-width md:tw-my-8 tw-my-4 tw-items-center md:tw-flex-row tw-flex-col-reverse">

    <div class="md:tw-w-[37%] xl:tw-mr-[9%] md:tw-mr-[5%]">
      <div class="tw-text-left md:tw-block tw-hidden">
        <p class="tw-text-2xl">{{ secSt.title_sub | newline_to_br}}</p>
        <h1 class="xl:tw-text-5xl md:tw-text-4xl tw-mb-12 !tw-leading-snug">{{ secSt.title | newline_to_br}}</h1>
      </div>
      <div>
        <h2 class="tw-text-2xl tw-pb-4 tw-border-solid tw-border-0 tw-border-b-2 tw-border-black tw-font-normal md:tw-text-left tw-text-center">Questions</h2>
        {%- if section.blocks.size > 0 -%}
        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "FAQPage",
            "mainEntity": [
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'question' %}
                    {
                      "@type": "Question",
                      "name": {{ block.settings.title | json }},
                      "acceptedAnswer": {
                        "@type": "Answer",
                        "text": {{ block.settings.text | json }}
                      }
                    }{% unless forloop.last %},{% endunless %}
                {% endcase %}
              {% endfor %}
            ]
          }
        </script>

        {%- for block in section.blocks -%}
        {% if block.type == "question" %}
          <div {{ block.shopify_attributes }}>
            <div>
              <button type="button" class="tw-py-5 collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-{{ block.id }}">
                {%- render 'collapsible-icons-alt', no_circle: true -%}
                <span class="md:!tw-text-lg !tw-text-xl">{{ block.settings.title }}</span>
              </button>
              <div id="FAQ-content-{{ block.id }}" class="collapsible-content collapsible-content--all">
                <div class="collapsible-content__inner collapsible-content__inner--faq rte tw-text-xl">
                  {{ block.settings.text }}
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        {%- endfor -%}
        {%- endif -%}
      </div>
    </div>

    <div class="xl:tw-w-[52%] md:tw-w-[57%] tw-w-full tw-flex-shrink-0 tw-relative md:tw-mb-0 tw-mb-10">

      <div class="tw-text-center tw-block md:tw-hidden">
        <p class="tw-text-2xl">{{ secSt.title_sub | newline_to_br}}</p>
        <h1 class="xl:tw-text-5xl md:tw-text-4xl tw-mb-6 tw-leading-normal">{{ secSt.title | newline_to_br}}</h1>
      </div>


      <div class="md:tw-w-[77%] tw-h-full">
        {% if secSt.img_main !=blank %}
        <div class="tw-h-full tw-rounded-2xl">
          {% include 'aspect-ratio-img', media: secSt.img_main ,class: 'tw-block'%}
        </div>
        {% endif %}
      </div>
        <div class="md:tw-absolute tw-relative tw-right-0 md:-tw-top-8 md:tw-mt-0 -tw-mt-20 tw-h-full md:tw-w-1/2 tw-w-[90%] md:tw-ml-[10%] tw-mx-[5%]">
          <div class="carousel-container tw-overflow-hidden tw-h-full">
            <div class="carousel-items tw-transition-all tw-ease-out tw-cursor-grab">
              {%- for block in section.blocks -%}
                {% if block.type == "review" %}
                  <div class="tw-mb-4 tw-overflow-hidden tw-rounded-xl carousel-item tw-flex-shrink-0 tw-shadow-lg">
                    {% include 'aspect-ratio-img', media: block.settings.img ,class: 'tw-block'%}
                  </div>
                {% endif %}
              {%- endfor -%}
            </div>
          </div>
          <a class="tw-block tw-w-full tw-bg-vi tw-rounded-full !tw-text-white tw-py-4 hover:tw-scale-95 tw-text-sm tw-text-center tw-mt-4" href="{{ secSt.link }}">
            {{ secSt.btn_text }}
          </a>
        </div>
    </div>

  </div>
</section>
<script>
  $(document).ready(function() {
      let containerHeight = $("#shopify-section-{{section.id}} .carousel-container").height();
      let contentHeight = $("#shopify-section-{{section.id}} .carousel-items").height();
      let itemHeight = $("#shopify-section-{{section.id}} .carousel-item").outerHeight(true);
      let minY = containerHeight - contentHeight;
      let maxY = 0;
      let startY;
      let currentTranslate = 0;
      let isDragging = false;
      let duration = 300; // Milliseconds for animation duration

      $("#shopify-section-{{section.id}} .carousel-container").css("height",itemHeight * 3)

      if( $(window).width() > 769 ){
        $("#shopify-section-{{section.id}} .carousel-container").on("mousedown touchstart", function(event) {
          
            event.preventDefault(); // Prevent default dragging behavior
            isDragging = true;
            startY = event.pageY || event.originalEvent.touches[0].pageY;
            currentTranslate = getTranslateY();
        });

        $(document).on("mouseup touchend", function() {

            isDragging = false;
        });

        $(document).on("mousemove touchmove", function(event) {

            if (!isDragging) return;
            let currentY = event.pageY || event.originalEvent.touches[0].pageY;
            let diffY = currentY - startY;
            let newTranslate = currentTranslate + diffY;
            if (newTranslate > maxY) {
                newTranslate = maxY;
            } else if (newTranslate < minY) {
                newTranslate = minY;
            }
            setTranslateY(newTranslate);
        });
      }


      function setTranslateY(translateY) {
          $("#shopify-section-{{section.id}} .carousel-items").css("transform", `translateY(${translateY}px)`);
      }

      function getTranslateY() {
          let transformValue = $("#shopify-section-{{section.id}} .carousel-items").css("transform");
          let translateY = 0;
          if (transformValue !== "none") {
              let matrix = transformValue.match(/matrix.*\((.+)\)/)[1].split(", ");
              translateY = parseInt(matrix[5]);
          }
          return translateY;
      }

      function animateScroll(targetTranslate, startTime) {
          let currentTime = Date.now();
          let timeElapsed = currentTime - startTime;

          if (timeElapsed >= duration) {
              setTranslateY(targetTranslate);
              return;
          }

          let easeValue = easeInOutQuad(timeElapsed / duration);
          let newTranslate = currentTranslate + (targetTranslate - currentTranslate) * easeValue;

          setTranslateY(newTranslate);
          requestAnimationFrame(function() {
              animateScroll(targetTranslate, startTime);
          });
      }

      function easeInOutQuad(t) {
          return t < 0.5 ? 2 * t * t : -1 + (4 - 2 * t) * t;
      }
  });
</script>

{% schema %}
  {
    "name": "Reviews accordion v1.1",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section interval set"
      },
      {
        "type": "select",
        "id": "top_padding",
        "label": "top interval",
        "default": "large",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "bottom_padding",
        "label": "bottom interval",
        "default": "default",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default":"#E8EBF0"
      },
      {
        "type": "header",
        "content": "Section content"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Title",
        "default": "300k+ bikes sold.40k+ 5-star reviews."
      },
      {
        "type": "text",
        "id": "title_sub",
        "label": "Title",
        "default": "Undenibale Qualty"
      },
      {
        "type": "image_picker",
        "id": "img_main",
        "label": "Main image"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button title",
        "default": "Read More Reviews"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Read more link"
      }
    ],
    "blocks": [
      {
        "type": "question",
        "name": "t:sections.faq.blocks.question.name",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.faq.blocks.question.settings.title.label",
            "default": "Frequently asked question"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "t:sections.faq.blocks.question.settings.text.label",
            "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
          }
        ]
      },
      {
        "type": "review",
        "name": "Review",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Review image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Reviews accordion v1.1"
      }
    ]
  }
{% endschema %} 