{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width page-width--narrow">

  {%- if section.settings.title != blank -%}
    <header class="section-header">
      <h2 class="section-header__title">
        {{ section.settings.title | escape }}
      </h2>
    </header>
  {%- endif -%}
  {%- if section.blocks.size > 0 -%}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'question' %}
                {
                  "@type": "Question",
                  "name": {{ block.settings.title | json }},
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": {{ block.settings.text | json }}
                  }
                }{% unless forloop.last %},{% endunless %}
            {% endcase %}
          {% endfor %}
        ]
      }
    </script>
<div class="tab_lists tab_lists-faq">
  {% unless section.settings.sp_faq %}
    <div class="tab_nav">
      <ul>
        <li class="active">About My Order</li>
        <li class="">Return &amp; Refund</li>       
        <li class="">About Jasion E-bike</li>
        <li class="">Miscellaneous</li>
      </ul>
    </div>
  {% endunless %}
    <div class="tabspan">
      <div class="ts_item">
    {%- for block in section.blocks -%}
        {% case block.type %}
          {% when 'order'%}
      <div>
              <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-{{ block.id }}">
                <span class="!tw-text-2xl">{{ block.settings.title }}</span>
                {%- render 'collapsible-icons-alt', no_circle: false -%}
              </button>
              <div id="FAQ-content-{{ block.id }}" class="collapsible-content collapsible-content--all">
                <div class="collapsible-content__inner collapsible-content__inner--faq rte tw-text-lg">
                  {{ block.settings.text }}
                </div>
              </div>
      </div>
        {% endcase %}
    {%- endfor -%}
      </div>
      <div class="ts_item" style="display:none;">
    {%- for block in section.blocks -%}
        {% case block.type %}
          {% when 'policy'%}
      <div>
              <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-{{ block.id }}">
                <span class="tw-text-2xl">- {{ block.settings.title }}</span>
                {%- render 'collapsible-icons-alt', no_circle: true -%}
              </button>
              <div id="FAQ-content-{{ block.id }}" class="collapsible-content collapsible-content--all">
                <div class="collapsible-content__inner collapsible-content__inner--faq rte tw-text-lg">
                  {{ block.settings.text }}
                </div>
              </div>
      </div>
        {% endcase %}
    {%- endfor -%}
      </div>

     
      <div class="ts_item" style="display:none;">
    {%- for block in section.blocks -%}
        {% case block.type %}
          {% when 'product'%}
      <div>
              <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-{{ block.id }}">
             
                <span>- {{ block.settings.title }}</span>   {%- render 'collapsible-icons-alt', no_circle: true -%}
              </button>
              <div id="FAQ-content-{{ block.id }}" class="collapsible-content collapsible-content--all">
                <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                  {{ block.settings.text }}
                </div>
              </div>
      </div>
        {% endcase %}
    {%- endfor -%}
      </div>
    <div class="ts_item" style="display:none;">
    {%- for block in section.blocks -%}
        {% case block.type %}
          {% when 'Miscellaneous'%}
      <div>
              <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-{{ block.id }}">
              
                <span>- {{ block.settings.title }}</span>   {%- render 'collapsible-icons-alt', no_circle: true -%}
              </button>
              <div id="FAQ-content-{{ block.id }}" class="collapsible-content collapsible-content--all">
                <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                  {{ block.settings.text }}
                </div>
              </div>
      </div>
        {% endcase %}
    {%- endfor -%}
      </div>
    </div>

</div>
  {%- endif -%}
  {%- if section.blocks.size == 0 -%}
    <div class="placeholder-noblocks">
      {{ 'home_page.onboarding.no_content' | t }}
    </div>
  {%- endif -%}
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
  {
    "name": "FAQ_Special",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "FAQs"
      },
      {
        "type": "checkbox",
        "id": "sp_faq",
        "label": "Is simple faqs",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "order",
        "name": "Order",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Order Issues",
            "default": "Order Issues"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this section for any descriptive text you need to fill out your pages or to add introductory headings between other blocks.</p>"
          }
        ]
      },
      {
        "type": "policy",
        "name": "policy",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Policy",
            "default": "Policy"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
          }
        ]
      },

      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Product",
            "default": "Product"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
          }
        ]
      },
        {
        "type": "Miscellaneous",
        "name": "Miscellaneous",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Miscellaneous",
            "default": "Miscellaneous"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
          }
        ]
      }
     
    ],
    "presets": [
    {
      "name": "FAQ_Special",
      "category": "1. Products"
    }
  ]
    
  }
{% endschema %}
