{%- assign secSt = section.settings -%}

<section section-name="story-swiper" class="{% render 'section-interva-set' , secSt:secSt %}">

  <div class="page-width">
    <h1 style="color:{{secSt.title_color}};" class="tw-text-center xl:tw-text-5xl tw-text-4xl tw-mb-12">{{ secSt.title }}</h1>

    <div class="tw-relative">
      <div class="flickity-box" data-flickity = '{"wrapAround": true,"draggable": true,"pageDots": false, "prevNextButtons": true,"imagesLoaded": true, "watchCSS":true}'>
        {% for block in section.blocks %}
        {%- assign blkSt = block.settings -%}
          {% if blkSt.img_url != blank or blkSt.video_key != blank %}
          <div class="tw-w-full tw-px-2 carousel-cell hfull">
            <div class="tw-flex tw-bg-stone-100 tw-flex-wrap hfull">
              <div class="md:tw-w-3/5 tw-w-full 2xl:tw-pr-18 md:tw-pr-12">
                {% include 'aspect-ratio-img', media: blkSt.img_url ,class: 'tw-block tw-w-full'%}
              </div>
              <div class="md:tw-w-2/5 2xl:tw-pt-12 md:tw-pt-8 2xl:tw-pr-12 md:tw-pr-8 tw-p-4 tw-pb-24">
                <p class="md:tw-text-3xl tw-text-xl tw-font-semibold tw-mb-2">{{ blkSt.title }}</p>
                <p class="tw-italic md:tw-text-2xl tw-text-lg 2xl:tw-mb-8 tw-mb-4">- {{blkSt.author}}</p> 
                <p class="2xl:tw-text-xl md:tw-text-lg tw-text-stone-700">{{ blkSt.content }}</p>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="tw-absolute 2xl:tw-bottom-[10%] md:tw-bottom-[6%] tw-bottom-[6%] md:tw-right-[33%] md:tw-left-auto tw-left-[22%] tw-flex tw-w-[4%] tw-justify-center">
        <span class="pagination tw-p-0 md:tw-text-3xl tw-text-2xl tw-font-semibold">1/{{section.blocks.size}}</span>
      </div>
    </div>
  </div>
</section>


<script>
  $(document).ready(function() {
    var $carousel = $('#shopify-section-{{section.id}} .flickity-box');
    var $pagination = $('#shopify-section-{{section.id}} .pagination');
    updatePagination();
    $carousel.find('.carousel-cell').add('.flickity-button').on('click touchend', function() {
      setTimeout(function(){ updatePagination() },500)
    });
    function updatePagination() {
      var $selectedItem = $carousel.find('.carousel-cell.is-selected');
      var selectedIndex = $selectedItem.index() + 1;
      var totalSlides = $carousel.find('.carousel-cell').length;
      $pagination.text(selectedIndex + '/' + totalSlides);
    }

    setTimeout(function(){ $('#shopify-section-{{section.id}} .hfull').addClass("tw-h-full") },500)

    
  });
</script>

{% schema %}
  {
    "name": "Story swiper v1.1",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section interval set"
      },
      {
        "type": "select",
        "id": "top_padding",
        "label": "top interval",
        "default": "large",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "bottom_padding",
        "label": "bottom interval",
        "default": "default",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Customer Stories"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Title color",
        "default": "#333333"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "img_url",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "video_key",
            "label": "Youtube video key"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Headlight&Taillight"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content",
            "default": "Brighter LED headlights, make riding more convenient and safer. The integrated taillight will flash when brake, making it a warning light at night."
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Andrew Ross"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Story swiper v1.1"
      }
    ]
  }
{% endschema %} 