{%- assign secSt = section.settings -%}
{%- assign bgImg = secSt.bg_img | img_url: 'master' -%}
{% comment %}注册类名 <div class="md:tw-w-full lg:tw-w-1/2 lg:tw-w-1/3 lg:tw-w-full tw-rounded-2xl md:tw-rounded-3xl"></div>  {% endcomment %}


<section section-name="tabs-image-text-list" class="{% render 'section-interva-set' , secSt:secSt %}" 
  default-color="{{ secSt.bg_color }}"
  style="{% if secSt.bg_img != blank %}background-image: url({{ bgImg }});{% endif %} background: {{ secSt.bg_color }}">

  <div class="page-width tabs-content-section">

    <div class="tw-border-b tw-border-black tw-overflow-hidden">
      <ul class="tw-flex tw-flex-nowrap tw-overflow-x-auto -tw-mb-px tw-text-sm tw-font-medium tw-text-center tab-list">
        {% assign tabArr = "" %}
        {%- for block in section.blocks -%}
          {% assign blkSet = block.settings %}
          {% assign tabArr = tabArr | append: blkSet.order | append: "," %}
        {%- endfor -%}
        {% assign tabs = tabArr | split: "," | uniq %}
        {%- for tab in tabs -%}
            <li tab-title="{{ tab | downcase | handleize }}" class="tw-flex-1 tw-shrink-0 tab-item tw-whitespace-nowrap {% if forloop.first %} active {% endif %}">
              <span class="tw-w-full tw-cursor-pointer md:tw-text-2xl tw-text-xl tw-inline-flex tw-items-center tw-justify-center md:tw-py-2 tw-py-6 md:tw-px-8 tw-px-4 tw-border-b-2 tw-border-transparent hover:tw-text-gray-600 hover:tw-border-gray-300">
                {{tab}}
              </span>
            </li>
        {%- endfor -%}
      </ul>
    </div>


    <div class="tab-content 2xl:tw-mt-12 md:tw-mt-8 tw-mt-4">
      {%- for tab in tabs -%}
          <div tab-target="{{ tab | downcase | handleize }}" class="{% unless forloop.first %}tw-hidden{% endunless %}">
            <div class="tw-flex tw-flex-wrap">
            {% for block in section.blocks %}
            {% assign blkSet = block.settings %}
              {% if blkSet.order == tab %}
                {% case block.type %}
                  {% when "image" %}
                  {% if blkSet.image1 != blank %}
                    <div class="image-switch-block lg:{{blkSet.image_w}} tw-w-full first:tw-mr-6 md:tw-order-2 tw-order-1">
                      <div class="image-list">
                        {% for i in (1..4) %}
                          {% assign imgKey = 'image' | append: i %}
                          {% if blkSet[imgKey] != blank %}
                            <div data-img="{{forloop.index}}" class="{% unless forloop.first %} tw-hidden {% endunless %}">
                              {{ blkSet[imgKey] | image_url: width: blkSet[imgKey].width | image_tag: widths: '300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600' }}
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>

                      <div class="tw-flex tw-justify-center color-list">
                        {% for i in (1..4) %}
                          {% assign colorKey = 'color' | append: i %}
                          {% if blkSet[colorKey] != blank and blkSet[colorKey].alpha != 0.0 %}
                          <p class="tw-mx-1">
                            <span data-color="{{forloop.index}}" style='background-color:{{blkSet[colorKey]}}'
                             class="{% if forloop.index == 1 %} active{% endif %} tw-w-8 tw-h-8 tw-inline-block tw-rounded-full tw-border-solid tw-border-2 tw-border-stone-600 tw-cursor-pointer hover:tw-opacity-80 tw-transition-all"></span>
                          </p>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  {% endif %}
                  {% when "list" %}

                    <div class="lg:tw-flex-1 tw-flex {{blkSet.content_pos}} tw-order-2">
                      <div>
                        {% if blkSet.title != blank or blkSet.content != blank %}
                          <div class="tw-mb-8"> 
                          {% if blkSet.title != blank%}
                            <h1 class="tw-font-semibold tw-mb-4 tw-text-xl">{{ blkSet.title | newline_to_br }}</h1>
                          {% endif %}
                          {% if blkSet.content != blank%}
                            <p class=" tw-text-base" >{{ blkSet.content | newline_to_br }}</p>
                          {% endif %}
                          </div>
                        {% endif %}
                        <div class="">
                          {% assign rLineClass = "" %}
                          {% if blkSet.show_line_r %}
                            {% assign rLineClass = "tw-border-r tw-border-solid" %}
                          {% endif %}
                          <ul class="{% if blkSet.item_w == "tw-w-1/3" %} [&>*:nth-child(3n)]:!tw-border-0 {% else %} [&>*:nth-child(2n)]:!tw-border-0 {% endif %} {{blkSet.content_align}} 
                            tw-flex tw-flex-wrap tw-text-base tw-w-full">   
                            {% for i in (1..14) %}
                              {% assign iKey = 'item' | append: i %}
                              {% assign iconKey = 'icon' | append: i %}
                              {% if blkSet[iKey] != blank %}
                              <li class="lg:{{blkSet.item_w}} {{blkSet.item_w_mb}} {{rLineClass}} tw-border-0 last:!tw-border-0 tw-border-stone-200">
                                {% if blkSet[iconKey] != blank %}
                                <div class="tw-inline-block tw-mx-auto tw-mt-2">
                                  {{ blkSet[iconKey] | image_url: width: 50 | image_tag: widths: '40,80,120,160,200' }}
                                </div>
                                {% endif %}
                                <p class="tw-mx-auto {% if blkSet[iconKey] != blank %}tw-pb-4 {%else%}tw-py-4 {% endif %}
                                  {% if blkSet.show_line %}tw-border-solid tw-border-stone-300 tw-border-b{% endif %}">
                                  {{blkSet[iKey]}}
                                </p> 
                              </li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </div>  
                      </div>
                    </div>

                    {% when "product" %}
                      {% if blkSet.product != blank %}
                      <div id="product-{{block.id}}" class="lg:{{blkSet.pr_w}} tw-w-full first:tw-mr-6 md:tw-order-2 tw-order-1">
                        {%- render 'product-card', product: blkSet.product,short_title:true,show_secondary_image:false, show_rating:false, show_vendor:false,show_quick_buy:false, show_badges: false,show_swatches: blkSet.show_swatches -%}
                      </div>
                    {% endif %}


                  {% endcase %}
              {% endif %}
            {% endfor %}
            </div>

            
          </div>
      {% endfor %}
    </div>

  </div>
</section>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    const $sectionDom = $('#shopify-section-{{section.id}} [section-name="tabs-image-text-list"]');

     $('#shopify-section-{{section.id}} .tab-list > .tab-item').on('click', function() {
      $('#shopify-section-{{section.id}} .tab-list > .tab-item').removeClass('active');
      $(this).addClass('active');
      var tabTitle = $(this).attr('tab-title');
      $('#shopify-section-{{section.id}} [tab-target]').addClass('tw-hidden');

      const $targetDom = $('#shopify-section-{{section.id}} [tab-target="' + tabTitle + '"]');
      $targetDom.removeClass('tw-hidden');

      let targetColor = "";
      if($targetDom.find("[data-color].active").css("background-color")){
        targetColor = $targetDom.find("[data-color].active").css("background-color");
        $sectionDom.css("background", `linear-gradient(${targetColor}, #ffffff)`);
      }else{
        targetColor = $sectionDom.attr("default-color");
        $sectionDom.css("background", targetColor);
      }

    });



    $(".image-switch-block .color-list span").click(function(){
      const targetNum = $(this).data("color");
      const $targetDom = $(this).closest(".image-switch-block").find(`[data-img=${targetNum}]`);
      const targetColor = $(this).css("background-color");

      $(this).addClass("active");
      $(this).closest("p").siblings().find('span').removeClass("active");
      $targetDom.removeClass("tw-hidden").addClass("active");
      $targetDom.siblings().addClass("tw-hidden").removeClass("active");
      $(this).closest('[section-name="tabs-image-text-list"]').css("background", `linear-gradient(${targetColor}, #ffffff)`);

    });
    




  });

</script>





{% schema %}
  {
    "name": "Tabs Image&Text list v1.2",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg_img",
        "label": "Background image"
      },
      {
        "type": "color_background",
        "id": "bg_color",
        "label": "Background color"
      },
      {
      "type": "header",
      "content": "Section interval set"
      },
      {
        "type": "select",
        "id": "top_padding",
        "label": "Top padding (PC)",
        "default": "md", 
        "options": [
          {
            "value": "xl",
            "label": "Extra large"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "bottom_padding",
        "label": "Bottom padding (PC)",
        "default": "md",
        "options": [
          {
            "value": "xl",
            "label": "Extra large"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "top_margin",
        "label": "Top margin (PC)",
        "default": "md",
        "options": [
          {
            "value": "xl",
            "label": "Extra large"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "bottom_margin",
        "label": "Bottom margin (PC)",
        "default": "md",
        "options": [
          {
            "value": "xl",
            "label": "Extra large"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "top_padding_mb",
        "label": "Top padding (Mobile)",
        "default": "md", 
        "options": [
          {
            "value": "xl",
            "label": "Extra large"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "bottom_padding_mb",
        "label": "Bottom padding (Mobile)",
        "default": "md",
        "options": [
          {
            "value": "xl",
            "label": "Extra large"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "top_margin_mb",
        "label": "Top margin (Mobile)",
        "default": "md",
        "options": [
          {
            "value": "xl",
            "label": "Extra large"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "bottom_margin_mb",
        "label": "Bottom margin (Mobile)",
        "default": "md",
        "options": [
          {
            "value": "xl",
            "label": "Extra large"
          },
          {
            "value": "lg",
            "label": "Large"
          },
          {
            "value": "md",
            "label": "Medium"
          },
          {
            "value": "sm",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "select",
            "id": "image_w",
            "label": "Image width",
            "options": [
              {
              "value": "tw-w-1/3",
              "label": "33.3333%"
              },
              {
              "value": "tw-w-1/2",
              "label": "50%"
              },
              {
              "value": "tw-w-full",
              "label": "100%"
              }
            ],
            "default": "tw-w-1/2"
          },
          {
            "type": "text",
            "id": "order",
            "label": "Order name",
            "default": "tab1",
            "info": "输入的此内容所归属的Tab名称"
          },
          {
            "type": "image_picker",
            "id": "image1",
            "label": "Image 1"
          },
          {
            "type": "color",
            "id": "color1",
            "label": "Color 1"
          },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "Image 2"
          },
          {
            "type": "color",
            "id": "color2",
            "label": "Color 2"
          },
          {
            "type": "image_picker",
            "id": "image3",
            "label": "Image 3"
          },
          {
            "type": "color",
            "id": "color3",
            "label": "Color 3"
          },
          {
            "type": "image_picker",
            "id": "image4",
            "label": "Image 4"
          },
          {
            "type": "color",
            "id": "color4",
            "label": "Color 4"
          }
        ]
      },
      {
        "type": "list",
        "name": "List",
        "settings": [
          {
            "type": "text",
            "id": "order",
            "label": "Order name",
            "default": "tab1",
            "info": "输入的此内容所归属的Tab名称"
          },
          {
            "type": "checkbox",
            "id": "show_line",
            "label": "Show bottom line",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_line_r",
            "label": "Show right line",
            "default": false
          },
          {
            "type": "select",
            "id": "item_w",
            "label": "Item width",
            "options": [
              {
              "value": "tw-w-1/3",
              "label": "33.3333%"
              },
              {
              "value": "tw-w-1/2",
              "label": "50%"
              },
              {
              "value": "tw-w-full",
              "label": "100%"
              }
            ],
            "default": "tw-w-1/2"
          },
          {
            "type": "select",
            "id": "item_w_mb",
            "label": "Item width mobile",
            "options": [
              {
              "value": "tw-w-1/3",
              "label": "33.3333%"
              },
              {
              "value": "tw-w-1/2",
              "label": "50%"
              },
              {
              "value": "tw-w-full",
              "label": "100%"
              }
            ],
            "default": "tw-w-1/2"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Title",
            "default": "Dual 48V 15Ah Lithium Batteries"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content",
            "default": "If range anxiety is of concern to you, Rhino will get you covered with its 1440wh battery capacity. Battery density has increased 21% from 18,650 to 21,700 cells, allowing you to ride up to 100 miles for a single charge."
          },
          {
            "type": "select",
            "id": "content_align",
            "label": "Content align",
            "options": [
              {
              "value": "tw-text-left",
              "label": "Left"
              },
              {
              "value": "tw-text-center",
              "label": "Center"
              }
            ],
            "default": "tw-text-left"
          },
          {
            "type": "select",
            "id": "content_pos",
            "label": "Content postion",
            "options": [
              {
              "value": "tw-items-baseline",
              "label": "Top"
              },
              {
              "value": "tw-items-center",
              "label": "Center"
              }
            ],
            "default": "tw-items-baseline"
          },
          {
            "type": "header",
            "content": "Item1 settings------"
          },
          {
            "type": "image_picker",
            "id": "icon1",
            "label": "List item1 icon"
          },
          {
            "type": "textarea",
            "id": "item1",
            "label": "List item1",
            "default": "<b>A -- Total Length</b> 78.7"
          },
          {
            "type": "header",
            "content": "Item2 settings------"
          },
          {
            "type": "image_picker",
            "id": "icon2",
            "label": "List item2 icon"
          },
          {
            "type": "textarea",
            "id": "item2",
            "label": "List item2",
            "default": "<b>B -- Handlebar Height</b> 42.9"
          },
          {
            "type": "header",
            "content": "Item3 settings------"
          },
          {
            "type": "image_picker",
            "id": "icon3",
            "label": "List item3 icon"
          },
          {
            "type": "textarea",
            "id": "item3",
            "label": "List item3",
            "default": "<b>C -- Wheelbase</b> 49.2"
          },
          {
            "type": "header",
            "content": "Item4 settings------"
          },
          {
            "type": "image_picker",
            "id": "icon4",
            "label": "List item4 icon"
          },
          {
            "type": "textarea",
            "id": "item4",
            "label": "List item4",
            "default": "<b>D -- Minimum Seat Height</b> 27.6"
          },
          {
            "type": "header",
            "content": "Item5 settings------"
          },
          {
            "type": "image_picker",
            "id": "icon5",
            "label": "List item5 icon"
          },
          {
            "type": "textarea",
            "id": "item5",
            "label": "List item5",
            "default": "<b>E -- Maximum Seat Height</b> 35.4"
          },
          {
            "type": "header",
            "content": "Item6 settings------"
          },
          {
            "type": "image_picker",
            "id": "icon6",
            "label": "List item6 icon"
          },
          {
            "type": "textarea",
            "id": "item6",
            "label": "List item6",
            "default": "<b>F -- Chain Stay Length</b> 18.9"
          },
          {
            "type": "header",
            "content": "Item7 settings------"
          },
          {
            "type": "image_picker",
            "id": "icon7",
            "label": "List item7 icon"
          },
          {
            "type": "textarea",
            "id": "item7",
            "label": "List item7",
            "default": "<b>G -- Standover Height</b> 33"
          },
          {
            "type": "header",
            "content": "Item8 settings------"
          },
          {
            "type": "image_picker",
            "id": "icon8",
            "label": "List item8 icon"
          },
          {
            "type": "textarea",
            "id": "item8",
            "label": "List item8",
            "default": "<b>H -- Top Tube Length</b> 23.6r"
          },
          {
            "type": "header",
            "content": "Item9 settings------"
          },
          {
            "type": "image_picker",
            "id": "icon9",
            "label": "List item9 icon"
          },
          {
            "type": "textarea",
            "id": "item9",
            "label": "List item9",
            "default": "<b>I -- Wheel Diameter</b> 28.7r"
          },
          {
            "type": "header",
            "content": "Item10 settings------"
          },
          {
            "type": "image_picker",
            "id": "icon10",
            "label": "List item10 icon"
          },
          {
            "type": "textarea",
            "id": "item10",
            "label": "List item10",
            "default": "<b>J -- Head Tube Length</b> 5.5"
          },
          {
            "type": "header",
            "content": "Item11 settings------"
          },
          {
            "type": "image_picker",
            "id": "icon11",
            "label": "List item11 icon"
          },
          {
            "type": "textarea",
            "id": "item11",
            "label": "List item11",
            "default": "<b>K -- Handlebar Length</b> 27.6"
          },
          {
            "type": "header",
            "content": "Item12 settings------"
          },
          {
            "type": "image_picker",
            "id": "icon12",
            "label": "List item12 icon"
          },
          {
            "type": "textarea",
            "id": "item12",
            "label": "List item12"
          },
          {
            "type": "header",
            "content": "Item13 settings------"
          },
          {
            "type": "image_picker",
            "id": "icon13",
            "label": "List item13 icon"
          },
          {
            "type": "textarea",
            "id": "item13",
            "label": "List item13"
          },
          {
            "type": "header",
            "content": "Item14 settings------"
          },
          {
            "type": "image_picker",
            "id": "icon14",
            "label": "List item14 icon"
          },
          {
            "type": "textarea",
            "id": "item14",
            "label": "List item14"
          },
          {
            "type": "header",
            "content": "Item15 settings------"
          },
          {
            "type": "image_picker",
            "id": "icon15",
            "label": "List item14 icon"
          },
          {
            "type": "textarea",
            "id": "item15",
            "label": "List item14"
          },
          {
            "type": "header",
            "content": "Item16 settings------"
          },
          {
            "type": "image_picker",
            "id": "icon16",
            "label": "List item14 icon"
          },
          {
            "type": "textarea",
            "id": "item16",
            "label": "List item14"
          }
        ]
      },
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "text",
            "id": "order",
            "label": "Order name",
            "default": "tab1",
            "info": "输入的此产品所归属的Tab名称"
          },
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "select",
            "id": "pr_w",
            "label": "Product width",
            "options": [
              {
              "value": "tw-w-1/3",
              "label": "33.3333%"
              },
              {
              "value": "tw-w-1/2",
              "label": "50%"
              },
              {
              "value": "tw-w-full",
              "label": "100%"
              }
            ],
            "default": "tw-w-1/2"
          },
          {
            "type": "checkbox",
            "id": "show_swatches",
            "label": "Show swicth?",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Tabs Image&Text list v1.2"
      }
    ]
  }
{% endschema %} 