{%- assign secSt = section.settings -%}

<section section-name="text-logo-switch" class="{% render 'section-interva-set' , secSt:secSt %}">
  <div class="md:tw-block tw-hidden">
    
    {% if secSt.title != blank %}
      <div class="page-width tw-text-center tw-mb-24"> 
        <h1 class="tw-text-center h2 xl:tw-mb-12 md:tw-mb-10 tw-mb-8">{{ secSt.title }}</h1>
      </div>
    {% endif %}

    <div class="tw-flex page-width">
      <div class="tw-relative tw-w-1/2 lg:tw-pr-14 md:tw-pr-5 contents tw-flex-shrink-0">
        {% for block in section.blocks %}
        {%- assign blSet = block.settings -%}
        <div class="{% unless forloop.first %}tw-hidden{% endunless %}">
          <div class="tw-flex tw-justify-between tw-items-center tw-mb-8">
            <img src="https://cdn.shopify.com/s/files/1/0605/0044/3373/files/2_2c55d9e0-4a0f-49fb-80ac-72b40ab2b018.png?v=1690445158" width="43" alt="">
            {% if blSet.link != blank %}
              <a href="{{blSet.link}}" target="_blank" class="hover:tw-scale-95 tw-transition-all tw-mr-4">
                <svg t="1688642662557" class="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7899" width="28" height="28"><path d="M864.107583 960.119537H63.880463V159.892417h447.928278V96.011954H0v927.988046h927.988046V527.874486h-63.880463v432.245051z" p-id="7900"></path><path d="M592.137467 0v63.880463h322.462458L457.491222 521.371685l45.137093 45.137093L960.119537 109.400075v322.462458h63.880463V0H592.137467z" p-id="7901"></path></svg>
              </a>
            {% endif %}
          </div>
          <div class="tw-text-base tw-leading-relaxed ">
            <p class="tw-mb-8 md:tw-h-auto tw-h-[8em]">{{blSet.content}}</p>
            {% if blSet.author != blank %}
            <p class="tw-italic tw-text-right">-- {{blSet.author}}</p> 
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="tw-w-1/2 lg:tw-pl-10 md:tw-pl-5 md:tw-pb-12 tw-flex-shrink-0">
        <div class="tw-flex tw-flex-wrap tw-pl-6 tw-h-full logos">
          {% for block in section.blocks %}
          {%- assign blSet = block.settings -%}
            {% if block.settings.img_url != blank %}
              {% assign imgClass = 'tw-grayscale tw-w-full tw-object-cover tw-cursor-pointer hover:tw-scale-95 tw-transition-all' %}
              {% if forloop.first %}
                {% assign imgClass = 'tw-w-full tw-object-cover tw-cursor-pointer hover:tw-scale-95 tw-transition-all' %}
              {% endif %}
              <div class="tw-w-1/3 xl:tw-px-8 tw-px-4 md:tw-mb-4 tw-flex tw-items-center">
                {{ blSet.img_url | image_url: width: 380 | image_tag: width: nil, class: imgClass }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="tw-block md:tw-hidden">
    {% if secSt.title != blank %}
      <div class="page-width tw-text-center tw-my-8"> <h1 class="h2">{{ secSt.title }}</h1> </div>
    {% endif %}









    <div id="text-logo-switch-mb-{{section.id}}">
      {% for block in section.blocks %}
      {%- assign blSet = block.settings -%}      
      <div class="tw-w-[90%] tw-pr-4 hfull {% if forloop.last %} tw-pr-0 {% endif %}">
        <div class="tw-bg-stone-100 tw-rounded-lg tw-p-6 hfull">
          {% if blSet.link != blank %}
          <a href="{{blSet.link}}" target="_blank" class="hover:tw-scale-95 tw-transition-all tw-block tw-text-right">
            <svg t="1688642662557" class="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7899" width="28" height="28"><path d="M864.107583 960.119537H63.880463V159.892417h447.928278V96.011954H0v927.988046h927.988046V527.874486h-63.880463v432.245051z" p-id="7900"></path><path d="M592.137467 0v63.880463h322.462458L457.491222 521.371685l45.137093 45.137093L960.119537 109.400075v322.462458h63.880463V0H592.137467z" p-id="7901"></path></svg>
          </a>
          {% endif %}
          <div class="tw-w-[90%] tw-mb-4 tw-mx-auto tw-h-12 tw-mt-6">
            {% if blSet.img_url != blank %}
              {{ blSet.img_url | image_url: width: 380 | image_tag: width: nil, class: "tw-w-auto tw-mx-auto tw-h-full tw-object-contain" }}
            {% endif %}
          </div>
          <img class="tw-my-4" src="https://cdn.shopify.com/s/files/1/0773/0190/7732/files/21_296d1e7a-6e62-4a7a-9e66-f2578fc318c1.png?v=1696411178" width="36" alt="">
          <div class="tw-text-[22px] tw-leading-relaxed">
            <p class="tw-text-stone-600 tw-mb-4 tw-text-xl">{{blSet.content}}</p>
          </div>
          {% if blSet.author != blank %}
            <p class="tw-italic tw-text-right">-- {{blSet.author}}</p> 
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>



  </div>
</section>

<script>
  $(document).ready(function() {
    $(".logos > div").click(function() {
      $(".logos > div img").addClass("tw-grayscale");
      var index = $(this).index();
      var content = $(".contents > div").eq(index);
      $(this).find("img").removeClass("tw-grayscale");
      content.show();
      $(".contents > div").not(content).hide();
    });
    setTimeout(function(){ $('#shopify-section-{{section.id}} .hfull').addClass("tw-h-full") },500)


    const screenWidth = window.innerWidth || document.documentElement.clientWidth;
    if(screenWidth < 750)var flkty = new Flickity('#text-logo-switch-mb-{{section.id}}');






  });
</script>

{% schema %}
  {
    "name": "Text logo switch v1.2",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Read About Us"
      },
      {
        "type": "checkbox",
        "id": "show_mobile",
        "label": "Title display on mobile?",
        "default": false
      },
      {
        "type": "header",
        "content": "Section interval set"
        },
        {
          "type": "select",
          "id": "top_padding",
          "label": "Top padding (PC)",
          "default": "md", 
          "options": [
            {
              "value": "xl",
              "label": "xl"
            },
            {
              "value": "lg",
              "label": "Default"
            },
            {
              "value": "md",
              "label": "md"
            },
            {
              "value": "sm",
              "label": "sm"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "select",
          "id": "bottom_padding",
          "label": "Bottom padding (PC)",
          "default": "md",
          "options": [
            {
              "value": "xl",
              "label": "xl"
            },
            {
              "value": "lg",
              "label": "lg"
            },
            {
              "value": "md",
              "label": "md"
            },
            {
              "value": "sm",
              "label": "sm"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "select",
          "id": "top_margin",
          "label": "Top margin (PC)",
          "default": "md",
          "options": [
            {
              "value": "xl",
              "label": "xl"
            },
            {
              "value": "lg",
              "label": "Default"
            },
            {
              "value": "md",
              "label": "md"
            },
            {
              "value": "sm",
              "label": "sm"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "select",
          "id": "bottom_margin",
          "label": "Bottom margin (PC)",
          "default": "md",
          "options": [
            {
              "value": "xl",
              "label": "xl"
            },
            {
              "value": "lg",
              "label": "lg"
            },
            {
              "value": "md",
              "label": "md"
            },
            {
              "value": "sm",
              "label": "sm"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "select",
          "id": "top_padding_mb",
          "label": "Top padding (Mobile)",
          "default": "md", 
          "options": [
            {
              "value": "xl",
              "label": "xl"
            },
            {
              "value": "lg",
              "label": "lg"
            },
            {
              "value": "md",
              "label": "md"
            },
            {
              "value": "sm",
              "label": "sm"
            },
            {
              "value": "none",
              "label": "none"
            }
          ]
        },
        {
          "type": "select",
          "id": "bottom_padding_mb",
          "label": "Bottom padding (Mobile)",
          "default": "md",
          "options": [
            {
              "value": "xl",
              "label": "xl"
            },
            {
              "value": "lg",
              "label": "lg"
            },
            {
              "value": "md",
              "label": "md"
            },
            {
              "value": "sm",
              "label": "sm"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "select",
          "id": "top_margin_mb",
          "label": "Top margin (Mobile)",
          "default": "md",
          "options": [
            {
              "value": "xl",
              "label": "xl"
            },
            {
              "value": "lg",
              "label": "lg"
            },
            {
              "value": "md",
              "label": "md"
            },
            {
              "value": "sm",
              "label": "sm"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "select",
          "id": "bottom_margin_mb",
          "label": "Bottom margin (Mobile)",
          "default": "md",
          "options": [
            {
              "value": "xl",
              "label": "xl"
            },
            {
              "value": "lg",
              "label": "lg"
            },
            {
              "value": "md",
              "label": "md"
            },
            {
              "value": "sm",
              "label": "sm"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "img_url",
            "label": "Image"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content",
            "default": "Brighter LED headlights, make riding more convenient and safer. The integrated taillight will flash when brake, making it a warning light at night."
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Electric bike report"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text logo switch v1.2"
      }
    ]
  }
{% endschema %} 