{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div  class="text-with-icons {% if section.settings.class != blank %} {{ section.settings.class }} {% endif %}"
  data-section-id="{{ section.id }}"
  data-section-type="text-with-icons"
>
  <div class="page-width">
    {%- if section.settings.title != blank -%}
      <div
        class="
          text-with-icons__title
          section-header"
      >
        <h2 class="text-{{ section.settings.align_text }}">{{ section.settings.title }}</h2>
      </div>
    {%- endif -%}
    <div
      class="
        text-with-icons__blocks
        has-{{ section.settings.desktop_columns_per_row }}-per-row"
      data-block-count="{{ section.blocks.size }}"
      >
      {% for block in section.blocks %}
      
        <div class="text-with-icons__block text-{{ section.settings.align_text }}" {{ block.shopify_attributes }}>
          <div class="content-wrapper">
          <div class="text-with-icons__block-icon">
           <div class="ico-wrapper">
            {% case block.settings.icon %}
              {% when 'earth' %}
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" width="56px" height="56px" viewBox="0 0 56 56" style="enable-background:new 0 0 56 56;" xml:space="preserve">
<path d="M29.313,16.166v-0.005c-0.781,0.017-1.574,0.017-2.385,0v0.005C27.738,16.183,28.531,16.183,29.313,16.166z"/>
<path d="M13.066,29.071h0.006c-0.012-0.393-0.018-0.794-0.018-1.192C13.055,28.277,13.061,28.677,13.066,29.071z"/>
<path d="M51.676,14.159c-0.111,0.097-0.795,0.437-1.971,0.891C50.898,14.591,51.584,14.252,51.676,14.159z"/>
<path d="M41.723,30.472c0.701,0.625,1.533,0.938,2.504,0.938c0.973,0,1.805-0.318,2.5-0.938c0.689-0.621,1.029-1.383,1.029-2.269
	c0-0.885-0.35-1.65-1.029-2.282c-0.695-0.632-1.533-0.95-2.5-0.95c-0.971,0-1.813,0.318-2.504,0.95s-1.047,1.388-1.047,2.282
	C40.676,29.089,41.02,29.845,41.723,30.472z"/>
<path d="M44.254,23.054c0.281,0,0.557,0.021,0.832,0.06c-0.238-2.19-0.643-4.302-1.182-6.282c-0.727,0.179-1.496,0.355-2.307,0.522
	c0.502,1.857,0.873,3.838,1.102,5.905C43.197,23.124,43.715,23.054,44.254,23.054z"/>
<path d="M50.881,12.356l-0.016-0.038c-0.006-0.011-0.018-0.021-0.021-0.031l-0.125-0.275c-0.006,0.005-0.021,0.016-0.055,0.026
	c0,0-0.006,0-0.006,0.006C46.006,5.475,38.568,1.016,30.068,0.39c0.814,0.156,1.613,0.405,2.385,0.734
	c-0.771-0.329-1.568-0.572-2.379-0.729c-0.682-0.049-1.371-0.076-2.066-0.076c-0.697,0-1.383,0.027-2.068,0.076
	c-0.98,0.185-1.941,0.502-2.865,0.938c0.924-0.438,1.879-0.755,2.859-0.938C11.594,1.447,0.26,13.419,0.26,27.998
	c0,15.273,12.436,27.684,27.742,27.684c3.621,0,7.082-0.695,10.25-1.953c-0.416-0.205-0.799-0.459-1.146-0.75
	c-0.291-0.254-0.557-0.529-0.775-0.816c-0.027-0.037-0.061-0.074-0.086-0.105c-0.551,0.184-1.107,0.352-1.668,0.502
	c0.561-0.15,1.117-0.318,1.668-0.51c-0.465-0.631-0.771-1.344-0.912-2.113c-1.803,1.721-3.844,2.834-6.014,3.15V39.957
	c1.111,0.023,2.195,0.076,3.25,0.152l0.619-2.454c-1.248-0.092-2.535-0.158-3.869-0.18c-0.782-0.016-1.581-0.016-2.391,0
	c-0.001,0-0.001,0-0.002,0c-3.854,0.074-8.016,0.496-12.377,1.435c-0.76,0.168-1.527,0.346-2.299,0.541
	c-1.938,0.49-3.908,1.09-5.904,1.814c0.438,0.711,0.906,1.4,1.408,2.064c1.775-0.615,3.525-1.133,5.252-1.563
	c0.771-0.195,1.543-0.367,2.305-0.529c4.086-0.855,7.988-1.225,11.615-1.283v13.158c-4.9-0.594-9.154-5.191-11.615-11.869
	c-0.762,0.156-1.531,0.336-2.305,0.529c1.539,4.209,3.746,7.725,6.4,10.145c-4.674-1.684-8.717-4.701-11.658-8.594H7.746
	c-0.502-0.662-0.973-1.35-1.404-2.061c-0.508,0.184-1.025,0.371-1.539,0.576v-0.006c0.514-0.199,1.031-0.395,1.539-0.576
	c-2.186-3.577-3.508-7.733-3.676-12.187h8.01c0.098,3.691,0.654,7.201,1.57,10.378c0.771-0.193,1.539-0.377,2.301-0.539
	c-0.859-2.995-1.377-6.325-1.475-9.839h-0.006c-0.006-0.395-0.012-0.794-0.012-1.192c0,0.398,0.006,0.8,0.018,1.192h13.855v8.404
	c0.811-0.018,1.607-0.018,2.391-0.006v-8.398h9.574c-0.053-0.291-0.08-0.589-0.08-0.897c0-0.518,0.074-1.02,0.227-1.488h-9.727
	v-8.005c4.688-0.063,8.854-0.626,12.279-1.333c0.811-0.167,1.582-0.34,2.305-0.522c-0.227-0.826-0.475-1.619-0.75-2.402h0.008
	c0.273,0.777,0.521,1.582,0.75,2.407c2.486-0.615,4.463-1.269,5.797-1.78c2.082,3.433,3.367,7.394,3.604,11.638h-3.861
	c0.154,0.475,0.23,0.971,0.23,1.488c0,0.309-0.027,0.604-0.082,0.896h3.736c-0.162,4.383-1.447,8.475-3.564,12.009
	c-0.707-0.258-1.602-0.561-2.66-0.879c-0.059,0.334-0.141,0.658-0.236,0.979l-0.422,1.445c0.713,0.215,1.338,0.42,1.877,0.605
	c-0.002,0-0.002,0.002-0.004,0.004h0.006c-0.912,1.217-1.928,2.344-3.033,3.375c-0.07,0.279-0.135,0.57-0.186,0.855l-0.004,0.027
	c-0.064,0.346-0.092,0.566-0.104,0.695c0.055,0,0.113,0.006,0.184,0.006c0.229-0.006,0.453-0.037,0.67-0.107l0.055-0.016
	l0.055-0.012c0.248-0.061,0.49-0.141,0.723-0.238l1.148-0.475c0.994-1.016,1.906-2.1,2.738-3.256
	c0.016,0.008,0.025,0.012,0.025,0.018l0.092-0.193c3.18-4.508,5.053-9.995,5.053-15.916C55.744,22.195,53.953,16.809,50.881,12.356z
	 M12.895,14.294c-0.27,0.761-0.518,1.543-0.738,2.342c0.002,0,0.004,0.001,0.004,0.001c-0.863,3.092-1.381,6.487-1.479,10.049H1.576
	V26.68h1.117c0.242-4.323,1.576-8.355,3.729-11.837c1.943,0.707,3.855,1.301,5.732,1.792c0.227-0.804,0.475-1.586,0.738-2.348
	c-1.662-0.422-3.346-0.924-5.045-1.512c-0.254,0.334-0.502,0.669-0.74,1.016c0.238-0.347,0.486-0.687,0.734-1.016
	c-0.689-0.243-1.387-0.497-2.09-0.767L4.916,14.27l0.836-2.267c0.703,0.271,1.398,0.528,2.09,0.767
	c2.764-3.6,6.471-6.443,10.756-8.149C16.242,7.056,14.277,10.381,12.895,14.294z M40.832,14.92v0.005
	c-3.238,0.643-7.143,1.155-11.514,1.236V2.856C28.879,2.836,28.443,2.824,28,2.824c-0.361,0-0.717,0.006-1.072,0.021v13.315
	c0.811,0.017,1.604,0.017,2.385,0v0.005c-0.781,0.017-1.574,0.017-2.385,0v-0.005c-3.666-0.07-7.605-0.459-11.729-1.333
	c-0.271,0.761-0.523,1.549-0.744,2.363c4.396,0.973,8.586,1.397,12.467,1.484v8.01H13.074c0.092-3.385,0.576-6.591,1.381-9.5
	c-0.002,0-0.002-0.001-0.004-0.001c0.221-0.809,0.469-1.597,0.744-2.356c2.207-6.169,5.916-10.617,10.271-11.881
	c0.01-0.006,0.021-0.006,0.025-0.006c0.477-0.048,0.951-0.081,1.438-0.103c0.355-0.011,0.711-0.021,1.072-0.021
	c0.443,0,0.875,0.012,1.313,0.032c0.416,0.022,0.82,0.055,1.227,0.098c-0.404-0.118-0.805-0.204-1.221-0.27
	c0.41,0.059,0.82,0.15,1.227,0.27c1.199,0.119,2.373,0.321,3.518,0.603c-1.145-0.28-2.32-0.483-3.521-0.603
	c4.377,1.27,8.102,5.755,10.305,11.973H40.832z M49.705,15.05c-0.439-0.724-0.912-1.42-1.42-2.095
	c-1.27,0.432-3.006,0.961-5.127,1.468c-1.395-3.974-3.373-7.34-5.762-9.802c-0.445-0.181-0.904-0.34-1.365-0.493
	c0.459,0.152,0.916,0.311,1.361,0.489L37.4,4.622c4.354,1.737,8.109,4.646,10.887,8.334h0.004
	C48.793,13.625,49.268,14.327,49.705,15.05c1.176-0.454,1.859-0.794,1.971-0.891C51.584,14.252,50.898,14.591,49.705,15.05z"/>
<path d="M45.166,50.111c-0.771,0-1.314-0.125-1.619-0.373c-0.309-0.248-0.471-0.713-0.471-1.381c0-0.271,0.049-0.676,0.145-1.193
	c0.088-0.475,0.193-0.938,0.324-1.402l1.484-5.098c0.15-0.5,0.254-1.02,0.303-1.543c0.055-0.561,0.08-0.954,0.08-1.171
	c0-1.072-0.383-1.947-1.166-2.623c-0.781-0.674-1.883-1.008-3.313-1.008c-0.793,0-1.631,0.139-2.529,0.41
	c-0.902,0.27-1.83,0.607-2.799,0.986l-0.396,1.582c0.285-0.107,0.631-0.217,1.041-0.342c0.383-0.113,0.783-0.172,1.188-0.172
	c0.787,0,1.313,0.129,1.588,0.383c0.273,0.254,0.414,0.719,0.414,1.364c-0.006,0.404-0.049,0.811-0.141,1.203
	c-0.094,0.438-0.199,0.902-0.33,1.395l-1.482,5.121c-0.117,0.48-0.217,0.961-0.285,1.453c-0.061,0.414-0.092,0.836-0.092,1.258
	c0,1.047,0.396,1.92,1.201,2.605c0.807,0.684,1.912,1.02,3.354,1.02c0.938,0,1.76-0.125,2.467-0.361
	c0.713-0.236,1.658-0.582,2.85-1.041l0.396-1.586c-0.324,0.135-0.652,0.24-0.992,0.32C45.986,50.041,45.576,50.105,45.166,50.111z"
	/>
</svg>

              {% when 'jasionstore'%}
              <svg version="1.1"   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="56px" height="56px" viewBox="0 0 56 56" enable-background="new 0 0 56 56" xml:space="preserve">
<g>
	<g>
		<path fill-rule="evenodd" clip-rule="evenodd" fill="#1F2529" d="M52.544,51.603h-2.048c0.024-0.155,0.04-0.313,0.04-0.473V29.053
			c3.008-1.171,5.146-4.1,5.146-7.521c0-0.211-0.044-0.418-0.127-0.611L47.979,3.433c-0.242-0.561-0.795-0.924-1.409-0.925H9.663
			c-0.609,0.001-1.159,0.36-1.404,0.918L0.578,20.914c-0.086,0.194-0.13,0.406-0.13,0.618c0,3.421,2.139,6.349,5.145,7.521v22.077
			c0,0.16,0.016,0.317,0.038,0.472H3.586c-1.122,0-2.065,0.632-2.065,1.385c0,0.749,0.943,1.383,2.064,1.383h5.23l0.012,0.001
			h43.717c1.179,0,2.064-0.635,2.064-1.384C54.608,52.234,53.664,51.603,52.544,51.603z M33.115,51.603H8.766
			c-0.239-0.028-0.419-0.231-0.417-0.473v-9.315h24.766V51.603z M33.115,39.049H8.35v-9.454c0.05,0.002,0.102,0.004,0.152,0.004
			c2.678,0,5.055-1.315,6.521-3.335c1.464,2.019,3.842,3.335,6.52,3.335c2.679,0,5.056-1.315,6.521-3.335
			c1.212,1.674,3.019,2.819,5.051,3.2V39.049z M29.599,21.532c0-0.848-0.687-1.536-1.534-1.537c-0.847,0-1.536,0.689-1.535,1.537
			c0,2.753-2.237,4.994-4.987,4.994c-2.749,0-4.986-2.24-4.986-4.994c0.001-0.848-0.686-1.536-1.534-1.537
			c-0.849,0-1.536,0.689-1.535,1.537c0,2.753-2.237,4.994-4.987,4.994c-2.647,0-4.82-2.078-4.977-4.691l7.139-16.254h34.9
			l7.041,16.25c-0.154,2.615-2.328,4.695-4.979,4.695c-2.75,0-4.985-2.24-4.985-4.994c0-0.848-0.686-1.536-1.534-1.537
			c-0.85,0-1.535,0.689-1.535,1.537c0,2.753-2.238,4.994-4.986,4.994C31.835,26.526,29.599,24.286,29.599,21.532z M47.727,51.13
			l-0.004,0.044c0,0.253-0.144,0.414-0.386,0.429H35.878V29.493c2.101-0.345,3.98-1.505,5.229-3.229
			c1.465,2.019,3.843,3.336,6.52,3.336c0.034,0,0.067-0.002,0.101-0.003V51.13z"/>
	</g>
</g>
</svg>
              {% when 'service' %}
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" width="56px" height="56px" viewBox="0 0 56 56" style="enable-background:new 0 0 56 56;" xml:space="preserve">
<g>
	<g>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#1F2529;" d="M12.954,28.133c0-8.304,6.75-15.058,15.049-15.058
			c8.298,0,15.049,6.754,15.049,15.058c0,4.828-2.242,9.246-6.156,12.126c-0.688,0.502-0.836,1.469-0.328,2.156
			c0.304,0.408,0.768,0.625,1.245,0.625c0.315,0,0.638-0.098,0.91-0.297c4.645-3.414,7.413-8.873,7.413-14.611
			c0-10.001-8.132-18.144-18.133-18.144C18,9.99,9.87,18.132,9.87,28.133c0,5.738,2.774,11.197,7.413,14.611
			c0.688,0.508,1.653,0.359,2.155-0.328c0.501-0.688,0.359-1.654-0.328-2.156C15.202,37.385,12.954,32.967,12.954,28.133z
			 M51.275,23.56c-0.625,0-1.17-0.44-1.325-1.072c-0.538-2.138-1.381-4.183-2.521-6.085c-0.334-0.563-0.266-1.264,0.192-1.716
			c1.734-1.735,1.734-4.561,0-6.303c-1.734-1.734-4.559-1.734-6.311,0.013c-0.44,0.44-1.14,0.515-1.703,0.18
			c-1.896-1.134-3.939-1.982-6.082-2.521C32.895,5.9,32.455,5.348,32.455,4.71c0-2.46-2-4.455-4.453-4.455
			c-2.452,0-4.452,2.001-4.452,4.474c0,0.626-0.44,1.171-1.071,1.326c-2.144,0.539-4.187,1.382-6.082,2.521
			c-0.563,0.341-1.264,0.261-1.716-0.192c-1.733-1.734-4.558-1.734-6.298,0c-1.734,1.735-1.734,4.567,0.012,6.314
			c0.44,0.44,0.515,1.141,0.18,1.704c-1.133,1.896-1.981,3.947-2.514,6.085C5.9,23.12,5.355,23.56,4.71,23.56
			c-2.452,0-4.452,2.001-4.452,4.455c0,2.459,2,4.456,4.471,4.456c0.626,0,1.171,0.439,1.325,1.072
			c0.539,2.137,1.382,4.188,2.521,6.084c0.335,0.564,0.267,1.264-0.191,1.717c-1.734,1.734-1.734,4.561,0,6.303
			c1.734,1.734,4.558,1.734,6.311-0.014c0.439-0.439,1.14-0.514,1.703-0.18c0.471,0.285,0.954,0.545,1.449,0.801
			c0.762,0.383,1.685,0.074,2.068-0.689c0.384-0.762,0.074-1.686-0.688-2.068c-0.427-0.217-0.842-0.441-1.251-0.688
			c-1.777-1.066-4.025-0.801-5.48,0.656c-0.533,0.533-1.406,0.533-1.938,0c-0.533-0.533-0.533-1.406,0.012-1.953
			c1.443-1.443,1.703-3.691,0.645-5.471c-0.979-1.637-1.709-3.402-2.174-5.248c-0.502-2.008-2.279-3.402-4.335-3.402
			c-0.756,0-1.369-0.613-1.369-1.37c0-0.756,0.613-1.369,1.388-1.369c2.037,0,3.814-1.4,4.316-3.408
			c0.465-1.847,1.195-3.612,2.174-5.248c1.065-1.778,0.799-4.028-0.656-5.484c-0.533-0.532-0.533-1.406,0-1.939
			c0.532-0.532,1.405-0.532,1.95,0.013c1.443,1.444,3.691,1.71,5.469,0.645c1.635-0.979,3.4-1.71,5.246-2.175
			c2.006-0.502,3.405-2.28,3.405-4.338c0-0.756,0.613-1.369,1.369-1.369c0.755,0,1.369,0.613,1.369,1.388
			c0,2.039,1.399,3.817,3.405,4.319c1.846,0.465,3.611,1.195,5.246,2.175c1.777,1.065,4.025,0.8,5.48-0.657
			c0.533-0.532,1.406-0.539,1.938,0c0.533,0.533,0.533,1.407-0.012,1.952c-1.443,1.443-1.71,3.693-0.645,5.472
			c0.979,1.636,1.709,3.408,2.174,5.248c0.502,2.008,2.279,3.408,4.335,3.408c0.756,0,1.369,0.613,1.369,1.369
			c0,0.756-0.613,1.37-1.388,1.37c-2.037,0-3.814,1.4-4.316,3.408c-0.465,1.846-1.195,3.613-2.174,5.248
			c-1.065,1.779-0.799,4.027,0.656,5.484c0.533,0.533,0.533,1.406,0,1.939c-0.532,0.533-1.405,0.533-1.95-0.012
			c-1.443-1.445-3.691-1.711-5.469-0.645c-0.409,0.24-0.824,0.471-1.251,0.688c-0.762,0.385-1.065,1.307-0.688,2.07
			c0.384,0.762,1.313,1.064,2.068,0.688c0.495-0.248,0.979-0.516,1.449-0.801c0.558-0.334,1.264-0.266,1.716,0.193
			c0.866,0.867,2.006,1.301,3.146,1.301s2.279-0.434,3.152-1.301c1.734-1.736,1.734-4.561-0.012-6.314
			c-0.44-0.439-0.515-1.141-0.18-1.705c1.133-1.895,1.981-3.939,2.521-6.084c0.161-0.633,0.706-1.072,1.35-1.072
			c2.452,0,4.453-2.002,4.453-4.456C55.747,25.555,53.747,23.56,51.275,23.56z M40.104,28.133c0-4.636-2.713-8.93-6.911-10.925
			l-2.205-1.047v9.642l-2.985,1.989l-2.984-1.989v-9.642l-2.205,1.047c-4.199,1.995-6.911,6.289-6.911,10.925
			c0,4.609,2.688,8.855,6.787,10.863v11.432c0,2.932,2.385,5.316,5.313,5.316c2.929,0,5.314-2.385,5.314-5.316V39.002
			C37.416,36.988,40.104,32.75,40.104,28.133z M31.223,36.555l-0.991,0.377v13.496c0,1.227-0.997,2.23-2.229,2.23
			c-1.226,0-2.229-0.998-2.229-2.23V36.932l-0.99-0.377c-3.469-1.326-5.797-4.711-5.797-8.416c0-2.553,1.108-4.97,2.948-6.655v5.974
			l6.063,4.046l6.063-4.046v-5.974c1.845,1.686,2.947,4.103,2.947,6.655C37.02,31.844,34.69,35.221,31.223,36.555z"/>
	</g>
</g>
</svg>
              {% when 'support' %}
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="56px" height="56px" viewBox="0 0 56 56" enable-background="new 0 0 56 56" xml:space="preserve">
<g enable-background="new">
	<g>
		<g>
			<path fill="#1F2529" d="M26.673,14.962h0.466c6.505,0,9.806,3.373,9.806,10.033c0,0.618,0,1.235-0.02,1.866
				c-0.033,1.117,0.844,2.039,1.959,2.07c1.125,0.033,2.035-0.846,2.066-1.963c0.012-0.673,0.021-1.322,0.021-1.975
				c0-8.809-5.174-14.068-13.833-14.068h-0.466c-8.659,0-13.833,5.262-13.833,14.068c0,5.337,0,14.102,6.159,18.83v0.607
				c-9.082,1.27-14.245,4.437-14.245,8.817c0,1.117,0.898,2.019,2.014,2.019c1.104,0,2.014-0.912,2.014-2.019
				c0-1.79,4.361-4.165,12.447-5.021c1.019-0.108,1.797-0.978,1.797-2.008v-3.438c0-0.694-0.346-1.334-0.93-1.703
				c-4.828-3.08-5.229-9.643-5.229-16.086C16.867,18.335,20.168,14.962,26.673,14.962z M34.998,44.434v-1.66
				c0-1.116-0.898-2.018-2.016-2.018c-1.113,0-2.012,0.9-2.012,2.018v3.449c0,1.03,0.779,1.898,1.807,2.008
				c8.086,0.855,12.447,3.221,12.447,5.021c0,1.117,0.898,2.019,2.016,2.019c1.115,0,2.014-0.912,2.002-2.019
				C49.242,48.869,44.078,45.689,34.998,44.434z M46.883,31.959c0.486-0.998,0.064-2.213-0.941-2.689
				c-1.008-0.487-2.209-0.055-2.686,0.943c-1.342,2.799-9.006,3.275-14.027,2.723c-1.039-0.098-1.992,0.574-2.197,1.594
				c-0.217,1.031,0.379,2.039,1.375,2.344c0.055,0.012,2.121,0.293,4.893,0.293C38.027,37.165,44.783,36.341,46.883,31.959z
				 M51.83,22.663l-2.74-0.978C48.355,10.004,38.721,0.73,26.987,0.73c-11.862,0-21.572,9.479-22.125,21.336l-1.189,0.856
				c-0.529,0.38-0.845,0.986-0.845,1.638v8.473c0,1.117,0.897,2.017,2.014,2.017c1.114,0,2.013-0.899,2.013-2.017v-7.441l1.17-0.835
				c0.531-0.38,0.845-0.987,0.845-1.638c0-10.12,8.129-18.364,18.12-18.364c9.99,0,18.119,8.244,18.119,18.364
				c0,0.846,0.541,1.615,1.344,1.898l2.693,0.965v7.051c0,1.117,0.898,2.017,2.014,2.017s2.014-0.899,2.014-2.017v-8.473
				C53.172,23.715,52.631,22.945,51.83,22.663z"/>
		</g>
	</g>
</g>
</svg>
              {% when 'media'%}
         <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" width="56px" height="56px" viewBox="0 0 56 56" style="enable-background:new 0 0 56 56;" xml:space="preserve">
<g>
	<g>
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#1F2529;" d="M50.042,14.209h-2.755V7.27c0-3.047-2.467-5.517-5.511-5.517
			H5.958c-3.043,0-5.51,2.47-5.51,5.517V48.73c0,3.047,2.467,5.518,5.51,5.518h44.084c3.044,0,5.511-2.471,5.511-5.518V19.726
			C55.553,16.679,53.086,14.209,50.042,14.209z M5.958,50.33c-0.882-0.002-1.597-0.717-1.598-1.6V7.27
			c0.001-0.884,0.716-1.599,1.598-1.6h35.819c0.883,0.001,1.598,0.716,1.598,1.6V48.73c0,0.541,0.068,1.078,0.201,1.6H5.958z
			 M51.641,48.73c0,1.201-0.977,2.18-2.177,2.18s-2.177-0.979-2.177-2.18V17.546h2.177c1.2,0,2.177,0.978,2.177,2.18V48.73z
			 M8.617,45.773h30.376v-4.055H8.617V45.773z M19.734,18.346H8.713v11.033h11.021V18.346z M16.645,26.286h-4.843v-4.847h4.843
			V26.286z M22.49,22.208h16.533v-3.862H22.49V22.208z M22.49,29.379h16.533v-3.407H22.49V29.379z M8.713,38.715h30.31v-3.82H8.713
			V38.715z"/>
	</g>
</g>
</svg>

                  {% when 'social'%}
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" width="56px" height="56px" viewBox="0 0 56 56" style="enable-background:new 0 0 56 56;" xml:space="preserve">
<path style="fill-rule:evenodd;clip-rule:evenodd;fill:#1F2529;" d="M45.439,34.167c-4.217,0-7.766,2.836-8.869,6.707l-16.797-4.208
	c0.007-0.148,0.022-0.294,0.022-0.443c0-2.309-0.85-4.415-2.246-6.036l10.613-9.814c1.435,0.92,3.136,1.461,4.966,1.461
	c0,0,0,0,0.002,0c5.098,0,9.232-4.142,9.232-9.251c0-5.108-4.135-9.25-9.232-9.25c-5.099-0.001-9.232,4.141-9.233,9.249
	c0,1.784,0.512,3.444,1.385,4.857L14.178,27.709c-1.11-0.474-2.332-0.737-3.614-0.737C5.465,26.97,1.33,31.11,1.328,36.219
	c-0.002,5.108,4.129,9.252,9.228,9.254h0.008c3.505,0,6.554-1.957,8.117-4.84l17.683,4.43c0.775,4.323,4.54,7.605,9.076,7.605
	c5.1,0,9.232-4.142,9.232-9.251S50.539,34.167,45.439,34.167z M33.131,7.442c2.832,0,5.129,2.301,5.129,5.139
	c0,2.839-2.295,5.14-5.127,5.14c-0.002,0-0.002,0-0.002,0c-2.832,0-5.128-2.301-5.128-5.14C28.002,9.744,30.299,7.443,33.131,7.442z
	 M10.563,41.362c-2.833,0-5.129-2.301-5.129-5.14s2.297-5.14,5.129-5.14c2.832,0,5.129,2.301,5.129,5.14
	S13.396,41.362,10.563,41.362z M45.439,48.557c-2.804,0-5.075-2.257-5.12-5.057c0.001-0.037-0.006-0.072-0.006-0.109
	c0.015-2.825,2.303-5.112,5.126-5.112c2.834,0,5.131,2.301,5.131,5.139C50.57,46.256,48.273,48.557,45.439,48.557z"/>
</svg>

              {% when 'bills'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-bills" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M16.96 11.72h66.08v70.76l-6.62 5.8-6.61-5.8-6.61 5.8-6.61-5.8-6.61 5.8-6.6-5.8-6.61 5.8-6.61-5.8-6.6 5.8-6.6-5.8V11.72zM23.97 34.6h49.36M23.97 46.28h49.01M23.97 57.96h28.57M23.97 69.64h28.57"/><path class="a" d="M61.63 66.87c0 2.69 4.18 2.51 4.18 2.51s4.19.27 4.19-3.23c0-2.27-4.16-2.25-4.16-2.25-4.85 0-4.16-3.33-4.16-3.33 0-3.74 4.22-3.43 4.22-3.43 4.51 0 4.08 3.43 4.08 3.43M65.8 53.03v20.46M23.97 23.41h49.36"/></svg>
              {% when 'calendar'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-calendar" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M21.3 17.08v10.14M35.52 17.08v10.14M49.74 17.08v10.14M63.97 17.08v10.14M78.19 17.08v10.14M12.63 32.23h74.74M12.63 22.15h74.74v60.77H12.63z"/><path class="a" d="M21.05 38.72h14.47v12.77H21.05zM35.53 38.72H50v12.77H35.53zM50 38.72h14.47v12.77H50zM64.47 38.72h14.47v12.77H64.47z"/><path class="a" d="M21.05 51.48h14.47v12.77H21.05zM35.53 51.48H50v12.77H35.53zM50 51.48h14.47v12.77H50zM64.47 51.48h14.47v12.77H64.47zM21.05 64.25h14.47v12.77H21.05zM35.53 64.25H50v12.77H35.53zM50 64.25h14.47v12.77H50zM64.47 64.25h14.47v12.77H64.47z"/></svg>
              {% when 'cart'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-cart" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M26.81 71.11h-.05"/><circle class="a" cx="42.66" cy="76.95" r="6.73"/><circle class="a" cx="72.7" cy="76.95" r="6.73"/><path class="a" d="M38.99 59.17L23.7 16.32H11.36"/><path class="a" d="M27.26 26.3h61.38L77 59.17H39a5.53 5.53 0 0 0-5.53 5.53A5.53 5.53 0 0 0 39 70.22h43.87M57.95 59.17V26.3M48.83 59.17L42.61 26.3M67.07 59.17L73.3 26.3M85.08 36.34H30.84M80.68 48.73H35.27"/></svg>
              {% when 'charity'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-charity" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M63.41 68l21-10.58a4.16 4.16 0 0 1 5.67 2 4.17 4.17 0 0 1-1.93 5.39L54 82a3.35 3.35 0 0 1-2.16.25L39 75.82l-7.31 3.06M22.76 86.67L9.6 55.92l10.24-4.64 13.17 30.75-10.25 4.64z"/><path class="a" d="M23.17 58.17l8.79-4a9.51 9.51 0 0 1 6.88-.37l22.25 7.31A4.52 4.52 0 0 1 63.41 68a4.51 4.51 0 0 1-5 1.77L43.8 65.32M79.37 16.94a12.34 12.34 0 0 0-17.44 0l-.79.79-.78-.79a12.34 12.34 0 1 0-17.44 17.45l.78.78 17.44 17.45 17.45-17.45.78-.78a12.34 12.34 0 0 0 0-17.45z"/></svg>
              {% when 'chat'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-chat" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M88.78 28.25v47.18h-9.42v10.58L62.91 75.43H32.55V28.25h56.23zM41.85 42.53h37.51M41.85 51.83h37.51M41.85 61.14h26.58"/><path class="a" d="M67.45 13.99v14.26h-34.9v35.83l-11.91 7.67V61.16h-9.42V13.99h56.23z"/></svg>
              {% when 'envelope'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-open-envelope" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M78.33 51.24V13H21.59v38.22M31.93 24.59h36.26M31.93 34.4h36.26M31.93 44.2h36.26"/><path class="a" d="M78.41 39.02l8.93 6.88v41.06H12.66V45.9l8.93-6.88"/><path class="a" d="M87.26 45.9l-37.3 22.79-37.3-22.79M12.66 86.96l29.82-22.84M87.34 86.96L57.52 64.12"/></svg>
              {% when 'gears'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-gears" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M51.11 53a18.75 18.75 0 0 0 .67-3.35l6.37-1.51L55.27 36l-6.37 1.56a18.51 18.51 0 0 0-4.68-5l1.87-6.28-11.9-3.55L32.32 29a18.68 18.68 0 0 0-6.62 1.59l-4.5-4.76-9 8.53 4.5 4.76a18.36 18.36 0 0 0-2 6.52l-6.35 1.57 2.88 12.08 6.37-1.51a18.62 18.62 0 0 0 4.67 4.95L20.4 69l11.91 3.55 1.87-6.27a18.67 18.67 0 0 0 6.62-1.58l4.5 4.76 9-8.53-4.5-4.76A19.38 19.38 0 0 0 51.11 53z"/><circle class="a" cx="33.25" cy="47.67" r="9.13"/><path class="a" d="M84.49 35.6a11.31 11.31 0 0 0 .88-1.91h4v-7.63h-4a11.44 11.44 0 0 0-2.09-3.62l2-3.48-6.61-3.81-2 3.48a11.3 11.3 0 0 0-4.18 0l-2-3.48L63.86 19l2 3.49a11.22 11.22 0 0 0-1.22 1.71 12.09 12.09 0 0 0-.87 1.91h-4v7.63h4a11.63 11.63 0 0 0 2.09 3.62l-2 3.48 6.61 3.81 2-3.48a11.3 11.3 0 0 0 4.18 0l2 3.48 6.6-3.81-2-3.49a11.17 11.17 0 0 0 1.24-1.75z"/><circle class="a" cx="74.58" cy="29.89" r="5.61"/><path class="a" d="M86.57 70.8a13.56 13.56 0 0 0 .49-2.41l4.59-1.08-2.05-8.7-4.6 1.08a13.3 13.3 0 0 0-3.36-3.58L83 51.6 74.45 49l-1.36 4.51a13.38 13.38 0 0 0-4.77 1.13l-3.23-3.44-6.52 6.13 3.23 3.43a13.19 13.19 0 0 0-.92 2.29 13.56 13.56 0 0 0-.49 2.41l-4.59 1.1 2.05 8.7 4.59-1.08a13.42 13.42 0 0 0 3.35 3.58l-1.35 4.51L73 84.85l1.36-4.51a13.38 13.38 0 0 0 4.77-1.13l3.23 3.44 6.52-6.13-3.23-3.44a12.78 12.78 0 0 0 .92-2.28z"/><circle class="a" cx="73.72" cy="66.93" r="6.58"/></svg>
              {% when 'gift'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-gift" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M13.35 30.07h73.29v15.11H13.35zM17.88 45.18h64.23V87.5H17.88zM50 30.07V87.5M29.63 15.42a6.59 6.59 0 0 0-.81 4.33 7.75 7.75 0 0 0 1.39 3.94c2.48 2.65 8 5.94 19.88 6.38a21 21 0 0 0-4.26-12.2A13.13 13.13 0 0 0 36 12.51c-2.37-.09-4.89.49-6.37 2.91z"/><path class="a" d="M69.9 14.75a6.55 6.55 0 0 1 1.29 5 8 8 0 0 1-1.39 4c-2.49 2.65-8 5.94-19.89 6.38a20.93 20.93 0 0 1 4.22-12.14A13.12 13.12 0 0 1 64 12.51a6.94 6.94 0 0 1 5.9 2.24z"/></svg>
              {% when 'globe'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-globe" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M82.19 69.25a13.09 13.09 0 0 1-3.54-3 1.86 1.86 0 0 1 0-2.38c1.29-1.52 3.08-5-4.17-7.52a5.28 5.28 0 0 0-2.24 0 12.36 12.36 0 0 1-5.49 0 9.78 9.78 0 0 1-4.1-2.16c-.23-.2-.44-.41-.65-.63a10.08 10.08 0 0 1-2.17-10l.15-.46a8.09 8.09 0 0 0-3.92-9.55l-1.83-1c-3.54-1.58-5.69-3.88-6.39-6.83-1-4-.14-7.55 4.46-13.15M32 17.1a13 13 0 0 1 3.52 7.23 9.74 9.74 0 0 1-.52 4.76 11.74 11.74 0 0 1-2.16 3.61 10.49 10.49 0 0 0-1.72 2.73c-.62 1.51-1.12 3.44-.61 4.91a4 4 0 0 0 2.75 2.33c.25.08.52.16.8.23a5.11 5.11 0 0 1 4.24 4.65c.13 2-.82 4.29-2.68 6.44a17.84 17.84 0 0 1-6.76 4.78A15.87 15.87 0 0 1 23 59.93a14.39 14.39 0 0 1-3.14-.35c-3.45-.77-3.73-1.39-6.86-3.58M32.12 83c-.18-2.75-2.68-8.09.69-13.4a22.33 22.33 0 0 1 8.36-7.36c3.48-1.79 6.77-2.37 9-1.58a4.61 4.61 0 0 1 3.08 5.12v.83a4 4 0 0 0 1.21 3.3c1.49 1.26 4.42 1.3 6.66.91a2.55 2.55 0 0 0 .59-.18A12.09 12.09 0 0 1 67 69.43a9.74 9.74 0 0 1 4.51 1.2 12.61 12.61 0 0 1 5.41 5.51"/><circle class="a" cx="50" cy="50" r="37.5"/></svg>
              {% when 'package'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-package" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2.16px}</style></defs><path class="a" d="M50 89.87L15.33 69.86V30.08l34.78-19.95 34.56 19.95v39.78L50 89.87z"/><path class="a" d="M67.33 50.78V40.09L32.76 20.14M15.33 30.08L50 50.09"/><path class="a" d="M50 89.87V50.09l34.67-20.01"/></svg>
              {% when 'phone'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-phone" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M80.63 63.49L67.77 59.9a6.69 6.69 0 0 0-.75-.16h-.33a5.65 5.65 0 0 0-4.43 1.5l-3.95 3.66-.2.2c-.31.32-1.89 1.75-4.34.05l-.22-.15a73.21 73.21 0 0 1-19.1-19.2s-1.35-2 .17-3.56l4.24-4.48.17-.17c.3-.29 1.69-1.87.92-5.22l-3.37-12.71a5.77 5.77 0 0 0-1-2.1 5.31 5.31 0 0 0-3.16-1.95h-.25a22.6 22.6 0 0 0-6.35-.5 5.69 5.69 0 0 0-1.8.55 16.31 16.31 0 0 0-9 14.7 44 44 0 0 0 2 12 54.47 54.47 0 0 0 9.2 16.66s9.33 12.22 21.66 19.57a63.37 63.37 0 0 0 14.8 5.93s7 1.65 12.59-.54c0 0 7-2.43 9.5-8.56a5.37 5.37 0 0 0 .39-1.85 21.32 21.32 0 0 0-.77-5.8s-1.04-3.55-3.76-4.28z"/></svg>
              {% when 'plant'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-plant" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M15.33 86.58h69.34s-30.67-40.37-69.34 0zM43.15 46.69s9 8.83 9.27 22M82.06 13.43s-27.38-1.32-25.37 25.16c0 0 23 5.54 25.37-25.16zM82.06 13.43L56.69 38.59M63.19 32.17l13.16-.45M70.05 25.35l9.7-.34M63.19 32.17l.45-13.07M70.05 25.35l.34-9.91M50.64 59.11a32.68 32.68 0 0 1 6-20.52M18 21.31S16.67 48.7 43.15 46.69c0 0 5.54-23-25.15-25.38zM17.99 21.31l25.16 25.38M36.73 40.19l-.45-13.16M29.91 33.33l-.34-9.7M36.73 40.19l-13.08-.45M29.91 33.33L20 32.99"/></svg>
              {% when 'recycle'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-recycle" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M24 63.72h17.6v17.64h-6a12.87 12.87 0 0 1-11.57-7.24"/><path class="a" d="M24 63.72v.07a9.82 9.82 0 0 0-1.2 4.71 12.73 12.73 0 0 0 1.27 5.58l-10.21-20-.62-1.22a9.59 9.59 0 0 1-.58-2 9.27 9.27 0 0 1 1-6.12l2.51-4.58-3.36-1.81 8.07-1.55 8.07-1.54 3.12 7.59 3.13 7.6-3-1.62zM49 19.28l-8 15.66-15.72-8 2.7-5.3a12.87 12.87 0 0 1 11.7-7h.05"/><path class="a" d="M49 19.28v-.07A9.78 9.78 0 0 0 45.32 16a12.78 12.78 0 0 0-5.55-1.4h23.82a9.77 9.77 0 0 1 2 .38 9.24 9.24 0 0 1 5 3.66l2.94 4.31 3.14-2.17-2.27 7.87-2.29 7.9-8.18-.67-8.19-.66 2.8-1.94zM76 63.5L67.6 48l15.53-8.38L86 44.89a12.86 12.86 0 0 1-.87 13.62"/><path class="a" d="M76 63.5a9.82 9.82 0 0 0 4.71-1.18 12.78 12.78 0 0 0 4.3-3.77L72.31 77l-.78 1.12a9 9 0 0 1-1.45 1.44 9.27 9.27 0 0 1-5.85 2L59 81.6v3.82l-5.2-6.36-5.2-6.37 5.21-6.35L59 60v3.41z"/></svg>
              {% when 'ribbon'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-ribbon" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M44.18 67.51L30 89.72l-4.44-12.19-12.93 1.1 14.19-22.18a28.86 28.86 0 0 0 13.79 10.08 26.93 26.93 0 0 0 3 .85zM87.37 78.63l-12.93-1.1L70 89.72 55.81 67.51l.63-.13a26.76 26.76 0 0 0 2.94-.85 28.8 28.8 0 0 0 13.8-10.08z"/><path class="a" d="M78.92 39.19a28.82 28.82 0 0 1-3.61 14 30 30 0 0 1-1.74 2.73 5 5 0 0 1-.39.52 28.8 28.8 0 0 1-13.79 10.09 26.76 26.76 0 0 1-2.94.85l-.63.13a29 29 0 0 1-11.63 0l-.62-.13a26.93 26.93 0 0 1-3-.85 28.86 28.86 0 0 1-13.75-10.08c-.13-.17-.26-.34-.38-.52q-.93-1.32-1.74-2.73a28.92 28.92 0 1 1 54.22-14z"/><path class="a" d="M56.95 42.84l1.63 9.55L50 47.88l-8.58 4.51 1.64-9.55-6.95-6.77 9.6-1.39 4.29-8.7 4.29 8.7 9.6 1.39-6.94 6.77z"/></svg>
              {% when 'sales-tag'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-sales-tag" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M69.33 23.02l-16.5.11L12.5 63.46l27.35 27.22 40.33-40.33.04-16.43-10.89-10.9z"/><circle class="a" cx="65.05" cy="38.2" r="5.51"/><path class="a" d="M71 24.67c3.46-6 7.64-11.82 10.22-13.91a4.93 4.93 0 0 1 3.52-1.42 3.38 3.38 0 0 1 2.78 3.14c.21 8.33-17.56 23.19-17.56 23.19M19.09 56.91l27.34 27.22"/></svg>
              {% when 'shield'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-shield" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M51.18 7.63c5.54 3.1 17.09 8.07 34.33 8.07h1.07v23.72A56.14 56.14 0 0 1 80 66.07C73.58 78 63.89 85.62 51.18 88.83 38.48 85.62 28.79 78 22.36 66.06a56.08 56.08 0 0 1-6.58-26.64V15.7h1.07c17.25 0 28.8-4.97 34.33-8.07z"/><path class="a" d="M66.15 37.87L45.43 58.59l-9.21-9.21"/></svg>
              {% when 'stopwatch'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-stopwatch" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><circle class="a" cx="60.82" cy="54.12" r="4.26"/><path class="a" d="M46.92 78.41a28 28 0 1 0-14.08-24.28M32.84 54.13a28 28 0 1 1 14.08 24.28M34.14 69.37H11.19M38.7 62.65H23.4M38.7 76.09H23.4M32.84 54.13a28 28 0 1 1 14.08 24.28M60.82 16.94v14.24M42.84 32.69l3.08 3.99M33.27 49.27l4.96.87M51.25 80.42l1.72-4.73M70.39 80.42l-1.72-4.73M85.06 68.12L80.7 65.6M88.38 49.27l-4.88 1.31M78.81 32.69l-3.08 4.03M60.82 49.87V39.6M54.4 16.94h12.84"/></svg>
              {% when 'store'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-store" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M83 50.49a6.61 6.61 0 0 1-6.61-6.61 6.61 6.61 0 1 1-13.21 0 6.61 6.61 0 1 1-13.22 0 6.61 6.61 0 1 1-13.21 0 6.61 6.61 0 1 1-13.22 0A6.61 6.61 0 0 1 17 50.49a7.23 7.23 0 0 1-1.4-.15v34.81h6.55V57.57H40v27.58h44.43V50.34a7 7 0 0 1-1.43.15zm-4.31 25.08H46.56v-18h32.13z"/><path class="a" d="M22.11 57.57h17.9v27.58h-17.9zM46.56 57.57H78.7v18H46.56z"/><path class="a" d="M22.11 57.57h17.9v27.58h-17.9zM46.56 57.57H78.7v18H46.56zM27 14.84l-3.43 19.37v9.67A6.61 6.61 0 0 1 17 50.49a7.23 7.23 0 0 1-1.4-.15 6.62 6.62 0 0 1-5.21-6.46v-9.67l5.21-19.37z"/><path class="a" d="M36.78 34.21v9.67a6.61 6.61 0 1 1-13.22 0v-9.67L27 14.84h11.52z"/><path class="a" d="M50 14.84v29a6.61 6.61 0 1 1-13.21 0v-9.63l1.74-19.37z"/><path class="a" d="M63.22 34.21v9.67a6.61 6.61 0 1 1-13.22 0v-29h11.48z"/><path class="a" d="M76.43 34.21v9.67a6.61 6.61 0 1 1-13.21 0v-9.67l-1.74-19.37H73z"/><path class="a" d="M89.65 34.21v9.67a6.62 6.62 0 0 1-5.22 6.46 7 7 0 0 1-1.39.15 6.61 6.61 0 0 1-6.61-6.61v-9.67L73 14.84h11.44z"/><circle class="a" cx="34.86" cy="74.25" r="1.52"/></svg>
              {% when 'thumbs-up'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-thumbs-up" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M16.01 54.13h20.02v35.22H16.01z"/><path class="a" d="M36 82.72l3.84 2.63a11.53 11.53 0 0 0 6.54 2h13.91M36 58.78l2.07-1.93A10.23 10.23 0 0 0 40.26 54l7.66-15a7.4 7.4 0 0 0 .81-3.36v-8.3a2.93 2.93 0 0 1 2.92-2.94c2.41 0 5.78 1 7.92 6.18a18.63 18.63 0 0 1 1 10.5l-1.29 6.94h19A4.91 4.91 0 0 1 83.16 53a4.91 4.91 0 0 1-4.91 4.92H59.6M62.68 67.72H76a4.91 4.91 0 0 1 4.91 4.92A4.91 4.91 0 0 1 76 77.55H65.65"/><path class="a" d="M65.65 77.55h6.12a4.92 4.92 0 0 1 4.92 4.92 4.93 4.93 0 0 1-4.92 4.92h-12.5M59.6 57.89h19.47A4.92 4.92 0 0 1 84 62.81a4.91 4.91 0 0 1-4.92 4.91h-16.4M53.19 20.06v-9.41M47.33 22.12l-6.05-7.22M44.15 27.46l-9.27-1.64M62.04 27.68l9.27-1.64M59 22.26l6.05-7.21"/></svg>
              {% when 'trophy'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-trophy" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M33.62 87.94h32.76M71.17 50.08a8.85 8.85 0 0 0 3.21-.93c4.16-2.09 7.12-7.42 7.12-13.65V18.63H73M28.83 50.08a8.85 8.85 0 0 1-3.21-.93c-4.16-2.09-7.12-7.42-7.12-13.65V18.63H27M55.94 38.9l1.4 8.17L50 43.21l-7.34 3.86 1.4-8.17-5.94-5.79 8.21-1.19L50 24.48l3.67 7.44 8.21 1.19-5.94 5.79z"/><path class="a" d="M27 12.06V40a27.76 27.76 0 0 0 .45 5 4.1 4.1 0 0 0 .11.61 27 27 0 0 0 1.26 4.44c3.18 8.38 10.12 14.49 18.43 15.6a19.25 19.25 0 0 0 2.75.19 18.87 18.87 0 0 0 2.73-.19 22 22 0 0 0 13.52-7.38 26.16 26.16 0 0 0 4.91-8.19 27 27 0 0 0 1.26-4.44 4.1 4.1 0 0 0 .11-.61A27.76 27.76 0 0 0 73 40V12.06zM49.97 65.84v22.1"/></svg>
              {% when 'truck'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-truck" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M44.36 67.09l-2.17.01h20.46V28.83H22.27v3.93M22.27 56.47V67.1h8.78l-2.18-.01"/><path class="a" d="M36.62 59.5a5.83 5.83 0 0 0-5.84 5.83 5.84 5.84 0 0 0 11.68 0 5.84 5.84 0 0 0-5.84-5.83zM78 59.5a5.84 5.84 0 0 0-5.85 5.83 5.84 5.84 0 0 0 11.68 0A5.83 5.83 0 0 0 78 59.5z"/><path class="a" d="M70.26 67.09l2.17.01h-9.78V34.03h12.31l15.06 15.06h4.67V67.1H83.57l2.18-.01"/><path class="a" d="M66.95 49.1V38h5.49l11.04 11.03-16.53.07zM28.26 44.53H5.31M32.81 37.81h-15.3M32.81 51.25h-15.3"/></svg>
              {% when 'wallet'%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-wallet" viewBox="0 0 100 100"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M69.36 55.8a2.45 2.45 0 1 1-2.45 2.45 2.45 2.45 0 0 1 2.45-2.45z"/><path class="a" d="M61.77 58.24a7.92 7.92 0 0 0 7.94 7.94H85V85H18.49a6 6 0 0 1-6-6V28a4.64 4.64 0 0 0 4.67 4.66H85v17.65H69.71a7.93 7.93 0 0 0-7.94 7.93z"/><path class="a" d="M86 50.31H69.71a7.94 7.94 0 1 0 0 15.87H86a1.53 1.53 0 0 0 1.53-1.52V51.84A1.54 1.54 0 0 0 86 50.31zM12.5 28a4.66 4.66 0 0 1 4.67-4.66H47M68.65 23.32h10.82v9.33"/><path class="a" d="M72.99 32.65H27l20.01-9.33 17.78-8.28 3.86 8.28 4.34 9.33z"/></svg>
            {% endcase %}
                </div>
          </div>
          <div class="text-with-icons__block-title">
            <h3>{{ block.settings.title }}</h3>
          </div>
          <div class="text-with-icons__block-text">
            {{ block.settings.text }}
          </div>
           {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
             <div class="text-with-icons__block-link">
             <a href="{{ block.settings.button_link }}">{{ block.settings.button_label }} <span class="fa fa-angle-right" style="margin-left:8px;"></span></a>
             </div>
             {%- endif -%}
         {%- if block.settings.code != blank  -%}
                <div class="additional-info">
                {{ block.settings.code }}
                </div>
            {%- endif -%}
            </div>
        </div>
      {% endfor %}
    </div>
    <div class="text-with-icons__button">
      {%- if section.settings.button_label != blank -%}
        <a href="{{ section.settings.button_link }}" class="btn btn--secondary">
          {{ section.settings.button_label }}
        </a>
      {%- endif -%}
    </div>
  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% style %}
  #shopify-section-{{ section.id }} .icon {
    color: {{ section.settings.icon_color }};
  }
{% endstyle %}

{% schema %}
{
  "name": "Text columns with icons",
  "class": "index-section",
  "settings": [
      {
      "type": "text",
      "id": "class",
      "label": "Section Class"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "Text alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "range",
      "id": "desktop_columns_per_row",
      "label": "Desktop columns per row",
      "default": 3,
      "min": 2,
      "max": 4,
      "step": 1
    },
    {
      "type": "color",
      "id": "icon_color",
      "label": "Icon color",
      "default": "#000"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Link"
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "Show section divider",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Column",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "default": "chat",
          "options": [
            {
              "value": "earth",
              "label": "Earth"
            },
                {
              "value": "jasionstore",
              "label": "Jasion Store"
            },
              {
              "value": "service",
              "label": "Service"
            },
            {
              "value": "support",
              "label": "Support"
            },
              {
              "value": "media",
              "label": "Press Media"
            },
          {
              "value": "social",
              "label": "Socail Media"
            },
            {
              "value": "bills",
              "label": "Bills"
            },
            {
              "value": "calendar",
              "label": "Calendar"
            },
            {
              "value": "cart",
              "label": "Cart"
            },
            {
              "value": "charity",
              "label": "Charity"
            },
            {
              "value": "chat",
              "label": "Chat"
            },
            {
              "value": "envelope",
              "label": "Envelope"
            },
            {
              "value": "gears",
              "label": "Gears"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "package",
              "label": "Package"
            },
            {
              "value": "phone",
              "label": "Phone"
            },
            {
              "value": "plant",
              "label": "Plant"
            },
            {
              "value": "recycle",
              "label": "Recycle"
            },
            {
              "value": "ribbon",
              "label": "Ribbon"
            },
            {
              "value": "sales-tag",
              "label": "Sales tag"
            },
            {
              "value": "shield",
              "label": "Shield"
            },
            {
              "value": "stopwatch",
              "label": "Stopwatch"
            },
            {
              "value": "store",
              "label": "Store"
            },
            {
              "value": "thumbs-up",
              "label": "Thumbs up"
            },
            {
              "value": "trophy",
              "label": "Trophy"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "wallet",
              "label": "Wallet"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Example title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products.</p>"
        },
       {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "URL"
    },
     {
      "type": "liquid",
      "id": "code",
      "label": "Liquid Code"
    }
        
      ]
    }
  ],
  "presets": [
    {
      "name": "Text columns with icons",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}

